@font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/ProximaNovaLight.eot');
    src: url('fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaLight.woff2') format('woff2'),
         url('fonts/ProximaNovaLight.woff') format('woff'),
         url('fonts/ProximaNovaLight.ttf') format('truetype'),
         url('fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg');
}
