{% extends "base.html" %}

{% block content %}

<div class="container" style="padding-left: 5px; padding-right: 5px;">
<div style="border-radius: 5px;">
	<div class="row" style="padding-left: 15px; padding-right: 15px;">
		<div class="col-md-8">	
		<div class="well" style="border-radius:20px">
									<h3 style="color: #00A4CB; margin-top:0px;" >About GKTCS</h3>
									<p>We are in to Corporate training and development from past 5 years. We groom the candidate as per the client requirement .</p>
									<br><p>Mostly we  get the requirements on new  technologies like Python, Django, Ruby on Rail, Hadoop, Android Lollipop, Cloud Computing etc.</p>
									<br><p>We placed the candidate as per their capability. If the Candidate is already trained we give the placement to them or we groom them in the latest demanding technologies.</p>
		
									
		
									<h3 style="color: #00A4CB" >GKTCS Innovations Pvt. Ltd.</h3>
									<p>	 Main objective is to provide innovative solutions to their client all over the world. We have following major innovative solutions:</p>
									<br><p>	Innovative Training : We provide customize client based training. We make sure that we are satisfying client needs and give them appropriate solutions to their problem.</p>
									<br><p>Consultancy: We provide expert consultant from GKTCS Innovations Pvt. Ltd. Who has 10-15 years experience in their area.</p>
									<br><p>	Software Innovations: GKTCS has more than 200 project trainees who are working on Python, Django, HTML5, Android, Dot Net, PHP, Zend Framework, MySQL , UNIX and developing project Like Campus Walky Talky, Android Media Browser, Agile and Scrum Project Management, Service Desk, SMART Job Portal etc.</p>
									<br><p>	Staffing Solutions: We help our client to get skilled professionals in IT industry. Also provide our project trainee an appropriate training to meet our client expectations, which reduces the gap between Academy and Industry need. We give 100 % placement assistance to all our project trainee.</p>
									
									
									<h3 style="color: #00A4CB" >GKTCS Vision:</h3>
									
										<p>•	To inspire and empower people to reach their potential, live their dreams and experience personal happiness.</p>
										<p>•	To provide the next generation education system that matches demand-supply in scale and quality.</p>
										<p>•	To be the leading centre of innovation and learning in emerging areas of the knowledge society.</p>

									<h3 style="color: #00A4CB" >GKTCS Mission:</h3>
										<p>•	To deliver distinctive education and to develop talent, it helps clients to achieve their corporate goals.</p>
										<p>•	Communicated to the highest standards of ethics and integrity to deliver values to our customers.</p>
										<p>•	Treat our clients with the highest levels of care and respect at all times.</p>
									

		</div>						
		</div>
		<div class="col-md-4">
		<div class="well" style="border-radius:20px">
		

			<h3 style="color: #00A4CB;margin-top:0px;" >Company Products</h3>

				<p>•	Agile and Scrum Project Management.</p>
				<p>•	Online Meeting Solutions.</p>
				<p>•	Online Job Portal</p>
				<p>•	Service Desk Management System</p>
				<p>•	Android Campus Walky Talky</p>
				<p>•	Android VAMS Dialer</p>



			<h3 style="color: #00A4CB" >Major Clients</h3>
							<p>1.	ORACLE, Noida</p>
							<p>2.	Verizon Chennai</p>
							<p>3.	Ariecent Technology, Gurgaon</p>
							<p>4.	Hewlett Packard, Bangalore</p>
							<p>5.	Wipro, Chennai, Pune, Bangalore, Hyderabad</p>
							<p>6.	Patni, Navi Mumbai</p>
							<p>7.	Hexaware Technologies, Mumbai, Pune</p>
							<p>8.	Shell Group Lagos, Africa</p>
							<p>9.	Rolta India Ltd, Mumbai</p>
							<p>10.	Tieto Pune, India</li></p>
							<p>11.	Accenture, Pune, Mumbai</p>
							<p>12.	ATOS Origin, Pune</p>
							

		</div>
		</div>
	</div>
</div>
		<div class="container">
		<div class="well" style="border-radius:20px">
			<div class="row" id="revrow"><h3>Our Trainers</h3></div><br>
			<div class="row">
				<div class="col-sm-6">
					<div id="p20" class="c_header" style="cursor: pointer;padding-bottom:5px">
					<div class="row">
						<span class="col-xs-3">
						   <img src="http://gktcs.in/GLMS/public/static/images/surendra_panpaliya.jpg" class="img-circle" id="rimg"/>
	
						</span>	
						<span class="col-xs-9" id="pl402">
							<span id="name">Mr.Surendra Panpaliya</span><br><span id="desig">17+ Yrs, Data Science using Python, Ruby, Cucumber,Hadoop, Appium,Spark Consultant and Corporate Trainer</span>
						
						<span>
							<br>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
						</span>
	
					</div>
					<div class="row">
						<div class="col-md-12">
							<table id="revdesc">
								<tr><td>Current: </td><td> <span class="black_text">GKTCS Innovations Pvt. Ltd.</span></td></tr>
								<tr><td>Previous: </td><td> <span class="black_text">GKTCS India, Rolta India Ltd, Sinhgad Institute.</span></td></tr>
								<tr><td>Education: &nbsp &nbsp </td><td> <span class="black_text">Indian Institute of Technology, Bombay</span></td></tr>
							</table>
							<span class="lessmore" style="color: #00a4cb; font-size: 16px;">More....</span>
						</div>
					</div>	
					</div>
					<div id="p20" class="c_content" style="display: none; padding-top:0px;line-height: 2;text-align:justify;">
						Mr.Surendra sir has 17+ Years of Experience as IT Consultant, Software Developer and Corporate Trainer.</br>
						Provided High End Technical skills to Software Developers, QA, Testing Professionals, Network Engineer, Database Administrator, Team Leader and Project Manager.</br>
						Expert Skills : </br>
						1.Ad. Python Numpy, Scipy, Pandas, Matplotlib, Anaconda, Kivy,Selenium, Robot, Business Data Analysis etc.</br> 
						2. Jython, Iron Python, Django, Pylon, SQLAlchemy, Mongodb,ORM.</br>
						3. Ruby, Rails, Rspec, Cucumber, Capybara, Appium, Selenium Testing, Watir etc.</br>
						4. Hadoop, Hive, Pig, Sqoop, Scala, Spark, PySpark</br>
						5 Perl, Adv, Perl, CGI, DBI</br>
						6. Adv. Unix Shell Scripting</br>
						7. PHP,OOPS, CakePHP</br>
						8. XML, JSON</br>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="p20" class="c_header" style="cursor: pointer; padding-bottom:5px">
					<div class="row">
						<span class="col-xs-3">
						   <img src="http://gktcs.in/GLMS/public/static/images/surendra_panpaliya.jpg" class="img-circle" id="rimg"/>
	
						</span>	
						<span class="col-xs-9" id="pl402">
							<span id="name">Mr.Surendra Panpaliya</span><br><span id="desig">17+ Yrs, Data Science using Python, Ruby, Cucumber,Hadoop, Appium,Spark Consultant and Corporate Trainer</span>
						
						<span>
							<br>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</span>
						</span>
	
					</div>
					<div class="row">
						<div class="col-md-12">
							<table id="revdesc">
								<tr><td>Current: </td><td> <span class="black_text">GKTCS Innovations Pvt. Ltd.</span></td></tr>
								<tr><td>Previous: </td><td> <span class="black_text">GKTCS India, Rolta India Ltd, Sinhgad Institute.</span></td></tr>
								<tr><td>Education: &nbsp &nbsp </td><td> <span class="black_text">Indian Institute of Technology, Bombay</span></td></tr>
							</table>
							<span class="lessmore" style="color: #00a4cb;font-size: 16px;">More....</span>
						</div>
					</div>	
					</div>
					<div id="p20" class="c_content" style="display: none; padding-top:0px;line-height: 2; text-align:justify;">
						Mr.Surendra sir has 17+ Years of Experience as IT Consultant, Software Developer and Corporate Trainer.</br>
						Provided High End Technical skills to Software Developers, QA, Testing Professionals, Network Engineer, Database Administrator, Team Leader and Project Manager.</br>
						Expert Skills : </br>
						1.Ad. Python Numpy, Scipy, Pandas, Matplotlib, Anaconda, Kivy,Selenium, Robot, Business Data Analysis etc.</br> 
						2. Jython, Iron Python, Django, Pylon, SQLAlchemy, Mongodb,ORM.</br>
						3. Ruby, Rails, Rspec, Cucumber, Capybara, Appium, Selenium Testing, Watir etc.</br>
						4. Hadoop, Hive, Pig, Sqoop, Scala, Spark, PySpark</br>
						5 Perl, Adv, Perl, CGI, DBI</br>
						6. Adv. Unix Shell Scripting</br>
						7. PHP,OOPS, CakePHP</br>
						8. XML, JSON</br>
					</div>
				</div>

			</div>
			
			
		</div>
		</div>	
</div>
{% endblock %}	