{% extends "base.html" %}

{% block content %}
			<div class="container">
				<div class="row" style="">
					<div class="col-md-12">
						<div id="course_desc"><br/>
						<div id="android">
							<div class="">
								<div class="row" style="background: rgba(40, 55, 73, 0.1);margin:10px; padding-top:4px;padding-bottom:4px; border-radius:5px;">
									<div class="col-md-3 col-sm-3">
										<img class="img-responsive" id="header-logo" src="http://gktcs.in/GLMS/public/static/images/android11.jpg" />
									</div>
									<div class="col-md-9 col-sm-9">
										<h3 style="margin-bottom: 1px; margin-top: 2px;">Android</h3>
										<div id="span1">Create Android apps, integrate them with Social Media, Google drive, Google maps, SQLite, etc. while working on Android Studio.
											

										</div>
									</div>
								</div>
							</div>
							<div class="">
							<div class="row" style="margin:-5px; padding-top:10px;">
								<div class="col-md-4">
										<div id="screen1">
											<iframe width="560" height="315" src="//www.youtube.com/embed/6nRyPLcFxLo" frameborder="0" allowfullscreen></iframe>
										</div>
								</div>
								<div class="col-md-8">
									<h4 id="upcom" style="margin-top:0px;"><b>Upcoming Batches : </b></h4>
									<table class="table" id="table1">
										<thead>
										  <tr id="head1">
											<th>BATCH</th>
											<th>DAYS</th>
											<th>TIME(IST)</th>
											<th>PRICE</th>
											<th>&nbsp </th>
										  </tr>
										</thead>
										<tbody>
										  <tr>
											<td>Weekdays (Morning)</td>
											<td>Mon-Fri (15 Days)</td>
											<td>06:00 AM- 08:00 AM</td>
											<td>20,000</td>
											<td id="enr">Enroll>></td>
										  </tr>
										  <tr>
											<td>Weekdays (Evening)</td>
											<td>Mon-Fri (15 Days)</td>
											<td>08:00 PM- 10:00 PM</td>
											<td>20,000</td>
											<td id="enr">Enroll>></td>
										  </tr>
										  <tr>
											<td>Weekend (Morning)</td>
											<td>Sat,Sun (5-Weeks)</td>
											<td>07:30 AM- 10:30 AM</td>
											<td>20,000</td>
											<td id="enr">Enroll>></td>
										  </tr>
										  <tr>
											<td>Weekend (Evening)</td>
											<td>Sat,Sun (5-Weeks)</td>
											<td>07:30 PM- 10:30 PM</td>
											<td>20,000</td>
											<td id="enr">Enroll>></td>
										  </tr>
										</tbody>
									 </table>
								</div>
							</div>
							<div style="padding:10px;">
								<h3 class="" style="color:#00A4CB; text-align:center; margin-top:0px;"> About Course </h3>	
								<div sid="descripti" class="">
									<ul id = "myTab" class = "nav nav-tabs" >
									   <li class = "active">
										  <a href = "#anabout" data-toggle = "tab">
											 About The Course
										  </a>
									   </li>
									   
									   <li><a href = "#anCurriculum" data-toggle = "tab">Curriculum</a></li>
									   
									   <li><a href = "#anFAQ" data-toggle = "tab">FAQ's</a></li>
									   
									   <li><a href = "#anCertification" data-toggle = "tab">Certification</a></li>
									   
									   <li><a href = "#anReviews" data-toggle = "tab">Reviews</a></li>
										
										
									</ul>

						<div id = "myTabContent" class = "tab-content" style="padding:10px; text-align:justify;">

							   <div class = "tab-pane fade in active" id = "anabout">
									<h4>About The Course</h4>
												<p><div>The Android Development
									  course is primarily designed for programmers who want to learn  how to create applications
									  in Android. You will create widgets, Customize List view,  Grid view, Spinners
									  etc, create applications using audio, video and  sqlite database and
									  finally publish it on Google Play.</div></p>
													<h4>Course Objectives</h4>
												<p><div>  <b>After completing  the Android Development course you should be able to understand:</b> </div>

									1. Basic Android Development tools such as Android Studio, DDMS, Drawables,
									Listeners, and so on.<br />
									2. How to use various Layouts and Widgets in Android Applications.<br />
									3. How to create interactive applications in android with multiple
									activities including audio, video and notifications.<br />
									4. How to create applications using SQLite database.<br />
									5. How to publish your App on Google Play.<br /></p>
													<h4>Who should go for this course?</h4>
												<p><div>All those students and professionals who are keen to
									  create amazing Apps in Android should go for this course.</div></p>
													<h4>Pre-requisites</h4>
												<p><div>
									  <span>Anyone
										who wants to learn Android should have a Core Java knowledge along
										with an analytical blend of mind and logic reasoning. </span>
									  <span>We
										also provide a complimentary course "Java Object Oriented
										Concepts" to all the participants who enrol for the Android
										Development course. This course helps you brush up your Java skills
										and clear your concepts in Java.</span></div></p>
													<h4>Project Work</h4>
												<p><div><b>Project 1: Weather Application</b></div><div><b>Description:</b> Create a Weather Application, which will show the current weather to User. Application will display current Temperature, Humidity and Hourly weather updates. We will be using OkHttp client to load the data from the network. The application will use the forecast.io API to fetch current weather updates. We would be using Google GSON to map JSON to Java POJO Classes.</div><div><br /></div><div><b>Project 2: Trakt Movie App</b></div><div><b>Description:</b> Create a movie application using Trakt API. The application shows list of top 50 Trending movies on Dashboard screen. It shows the movie image and movie name in each list item. When user clicks on any particular list item he will be shown with movie details.</div></p>
													<h4>Why Learn Android Development?</h4>
												<p><p>Android is fast becoming one of the biggest platforms
									  for programmers today. There is a huge demand for skilled Android
									  Developers all over the world. Most businesses across multiple domains
									  are building Android Apps both for enterprise and retail products.
									  Whether you are student or in the IT industry, possessing Android
									  Development skills will help you take the next big leap in your career.</p></p>


							   </div>
							   
							   <div class = "tab-pane fade" id = "anCurriculum">
									<h4>
										1. Introduction to Android Development 
									</h4>  
									<p><div style="text-align:justify;"><b>Learning Objectives</b> - In this module, you will learn the basic architecture of Android platform, download the tools used by any Android application developer and use them to create your first Android app. You will also learn how to run android application on emulator &amp; on your own device. We will deep dive into Android application lifecycle and understand how to target international audience using localization. </div><div style="text-align:justify;"><br /></div><div style="text-align:justify;"><b>Topics</b> - Basics of Android, Android Architecture, Android Studio Setup, DDMS, Activity Lifecycle, Event Listeners, Localization.</div> </p>
												<h4>
										2. Android Layouts and Widgets 
									</h4>  
									<p><div style="text-align:justify;"><b>Learning Objectives</b> - In this module, you will learn to create a user interface by using the visual tools and the underlying XML. We will deep dive into core of Android layouts and impressive and easy to code android widgets.</div><div style="text-align:justify;"> </div><div style="text-align:justify;"><b>Topics</b> - LinearLayout, RelativeLayout, FrameLayout, TableLayout, WebView, CheckBox, RadioButtons, Spinner, AutoCompleteTextView, CardView, TimePicker and DatePicker Dialog.</div> </p>
												<h4>
										3. Activity &amp;Fragments, Notifications &amp; Media 
									</h4>  
									<p><div style="text-align:justify;"><b>Learning Objectives </b>- In this module,  you will be able to create applications with multiple activities and learn to share  information between multiple activities. Also you will be able to use audio and video files in your project and generate notifications in android. </div><div style="text-align:justify;"><br /></div><div style="text-align:justify;"><b>Topics</b> - Activities, Fragments, Explicit and Implicit intents, Using NotificationCompact to Show, Notifications, MediaPlayer &amp; VideoView, Debugging Applications.</div> </p>
												<h4>
										4. Customizing Widgets &amp; Implementing Event Receivers 
									</h4>  
									<p><div><div style="text-align:justify;"><b>Learning Objectives </b>- In this module you will learn to implement different collections widgets available in android like GridView, ListView and RecyclerView. We will also learn to implement one of the four essential components of Android development, which is Broadcast Receivers. We will also deep divining into Android canvas framework, which lets you draw different shapes on the screen. </div><div style="text-align:justify;"><br /></div><div style="text-align:justify;"><b>Topics</b> - GridView, ListView, RecyclerView, DrawerLayout, BroadcastReceivers (System &amp; Custom), LocalBroadcastManager, Canvas &amp; Paint .</div></div> </p>
												<h4>
										5. Storage &amp; Animations 
									</h4>  
									<p><div style="text-align:justify;"><b>Learning Objectives </b>- In this module you will learn most important persistent frameworks in Android system, which is SharedPreference, and Android File System. We will learn to implement different types of animations provided by android system to create impressive android applications. </div><div style="text-align:justify;"><br /></div><div style="text-align:justify;"><b>Topics</b> - Internal &amp; External File Storage, SharedPreference, Twin Animation, View Property Animation, FrameAnimation.</div> </p>
												<h4>
										6. WebServices 
									</h4>  
									<p><div style="text-align:justify;"><b>Learning Objectives</b> - In this module, at times you will need to perform tasks that should prevent blocking the user from performing other tasks in the application. Here is when services and broadcast receivers come into play. You will learn the highly acclaimed API of Android framework, which is AsyncTask. We will also learn to implement SOAP Services. You will understand the concept of Retrofit library used for performing these Asynchronous tasks. </div><div style="text-align:justify;"><br /></div><div style="text-align:justify;"><b>Topics</b> - Exploring HttpUrlConnection, Thread &amp; Runnable, Using AsyncTask to Fetch &amp; Parse JSON, Using Retrofit to Fetch &amp; Parse JSON, Implementing Soap Services.</div> </p>
												<h4>
										7. Location &amp; Google Map 
									</h4>  
									<p><div style="text-align:justify;"><b>Learning Objectives</b> - In this module you will learn android location framework like GoogleMaps and Geocoder, which will help you to integrate location related functionality in your applications. You would also learn to draw markers on the map to show targeted locations to user and also perform animated zooming over the map.</div><div style="text-align:justify;"><br /></div><div style="text-align:justify;"><b>Topics</b> - Fetch Users Current Location, Reverse Geocoding using Geocoder, MapFragment, Showing Current Location on Map, Showing Markers on Map, Exploring different Map Types, Animated Zooming using Camera.</div> </p>
												<h4>
										8. Database Framework &amp; Third Party Libraries 
									</h4>  
									<p><div><div style="text-align:justify;"><b>Learning Objectives</b> - In today’s world what app doesn't make use of saving and retrieving data? You will be learning most common mechanisms for doing this. You will learn to use android SQLite framework. Also you will see how the data can be saved in database asynchronously. After completing database we will learn how to use few of the most famous and efficient third party libraries in our application like image loading, database implementation while writing minimal code. </div><div style="text-align:justify;"><br /></div><div style="text-align:justify;"><b>Topics</b> - Using SQLiteOpenHelper, SQLite Data Types, Maping between Table &amp; Widgets using, CursorAdapters, Using Async CursorLoaders, Palette for extracting colors from images, Picasso for Image Loading &amp; Caching, ButterKnife for Injecting Views, TimesSquare for showing CalendarView, Cupboard for ORM.</div></div> </p>
												<h4>
										9. Sensors and Social Media Integration 
									</h4>  
									<p><div style="text-align:justify;"><b>Learning Objectives</b> - Facebook, DropBox &amp; Google Drive are some of the essential applications which are present on almost all user devices, we will learn to integrate them in our application. We will be learning Single Sign on, uploading files to Google Drive. We will also learn to use various sensors available in Android devices like compass, Accelerometer etc. </div><div style="text-align:justify;"><br /></div><div style="text-align:justify;"><b>Topics</b> - Facebook Integration, Dropbox Integration, Google Drive Integration, Exploring Android Sensors.</div> </p>
												<h4>
										10. End-to-End App Development &amp; Publishing 
									</h4>  
									<p><div style="text-align:justify;"><b>Learning Objectives</b> - In this final lesson, you will learn to use Android Studio much more efficiently; we will create one live application end to end to revise the concepts we learnt earlier. We will be signing the application using our newly generated keystore and then you will learn how to submit an application to Google Play to share with the world.</div><div style="text-align:justify;"><br /></div><div style="text-align:justify;"><b>Topics</b> - End to End App Development, Using Proguard to obfuscate applications, Generating, Signing Keys, Publish the application on Google Play Store (Live Demo), Doubts &amp; Queries.</div> </p>


							   </div>
							   
							   <div class = "tab-pane fade" id = "anFAQ">
								  <p></p>
							   </div>
							   
							   <div class = "tab-pane fade" id = "anCertification">
								  <h4>GKTCS Certification Process:</h4>
										<p>
											<div style="text-align: justify;">At the end of your course, you will
									  work on a real time Project. You will  receive a Problem Statement
									  along with a dataset to work. </div>
									<div style="text-align: justify;">
									  <br /></div>
									<div style="text-align: justify;">Once you are successfully through with
									  the project (reviewed by an expert),  you will be awarded a
									  certificate with a performance based grading. </div>
									<div style="text-align: justify;">
									  <br /></div>
									<div style="text-align: justify;">If your project is not approved in 1st
									  attempt, you can take additional  assistance to understand the
									  concepts better and reattempt the Project  free of cost.</div>    </p>

							   </div>
							   
							   <div class = "tab-pane fade" id = "anFAQ">
								  <p></p>
							   </div>
							   
							   <div class = "tab-pane fade" id = "anCertification">
								  <h4>GKTCS Certification Process:</h4>
										<p>
											<div style="text-align: justify;">At the end of your course, you will
									  work on a real time Project. You will  receive a Problem Statement
									  along with a dataset to work. </div>
									<div style="text-align: justify;">
									  <br /></div>
									<div style="text-align: justify;">Once you are successfully through with
									  the project (reviewed by an expert),  you will be awarded a
									  certificate with a performance based grading. </div>
									<div style="text-align: justify;">
									  <br /></div>
									<div style="text-align: justify;">If your project is not approved in 1st
									  attempt, you can take additional  assistance to understand the
									  concepts better and reattempt the Project  free of cost.</div>    </p>

							   </div>
							   
							   <div class = "tab-pane fade" id = "Reviews">
								  <p></p>
							   </div>
							   
							</div>
										
									
								</div>
							</div>	
							</div><hr/>
						</div>
						</div>
					</div>
				</div>
			</div>	
		</div>	
{% endblock %}