{% extends "base.html" %}

{% block content %}
		<div class="container">
			<div class="row">

				<div class="col-md-12">
				<div id="course_desc"><br/>
					<div id="java">
						<div>
							<div class="row" style="background: rgba(40, 55, 73, 0.1);margin:10px; padding-top:4px;padding-bottom:4px; border-radius:5px;">
								<div class="col-md-3 col-sm-3">
									<img class="img-responsive" id="header-logo" src="http://gktcs.in/GLMS/public/static/images/java1.jpg" />
								</div>
								<div class="col-md-9 col-sm-9">
									<h3 style="margin-bottom: 1px; margin-top: 2px;">Java</h3>
									<div id="span1">An online course designed on one of the most popular platform ‘Java’, to train you on its basic and advanced concepts of Java and gain an entry into the programming world as a Java Developer.
										
									</div>
								</div>
							</div>
						</div>
						<div>
						<div class="row" style="margin:-5px; padding-top:10px;">
							<div class="col-md-4">
									<div id="screen1">
										<iframe width="560" height="315" src="//www.youtube.com/embed/43Uyv8E5TGw" frameborder="0" allowfullscreen></iframe>
									</div>
							</div>
							<div class="col-md-8">
								<h4 id="upcom" style="margin-top:0px;"><b>Upcoming Batches : </b></h4>
								<table class="table" id="table1">
									<thead>
									  <tr id="head1">
										<th>BATCH</th>
										<th>DAYS</th>
										<th>TIME(IST)</th>
										<th>PRICE</th>
										<th>&nbsp </th>
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<td>Weekdays (Morning)</td>
										<td>Mon-Fri (15 Days)</td>
										<td>06:00 AM- 08:00 AM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									  <tr>
										<td>Weekdays (Evening)</td>
										<td>Mon-Fri (15 Days)</td>
										<td>08:00 PM- 10:00 PM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									  <tr>
										<td>Weekend (Morning)</td>
										<td>Sat,Sun (5-Weeks)</td>
										<td>07:30 AM- 10:30 AM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									  <tr>
										<td>Weekend (Evening)</td>
										<td>Sat,Sun (5-Weeks)</td>
										<td>07:30 PM- 10:30 PM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									</tbody>
								 </table>
							</div>
						</div>
						<div style="padding:10px;">
							<h3 style="color:#00A4CB; text-align:center; margin-top:0px;"> About Course</h3>	
							<div sid="descripti">
								<ul id = "myTab" class = "nav nav-tabs" >
								   <li class = "active">
									  <a href = "#jabout" data-toggle = "tab">
										 About The Course
									  </a>
								   </li>
								   
								   <li><a href = "#jCurriculum" data-toggle = "tab">Curriculum</a></li>
								   
								   <li><a href = "#jFAQ" data-toggle = "tab">FAQ's</a></li>
								   
								   <li><a href = "#jCertification" data-toggle = "tab">Certification</a></li>
								   
								   <li><a href = "#jReviews" data-toggle = "tab">Reviews</a></li>
									
									
								</ul>

					<div id = "myTabContent" class = "tab-content" style="padding:10px; text-align:justify;">
						   <div class = "tab-pane fade in active" id = "jabout">
							  <h4>About The course</h4>
											<p><p align="justify">
								  <b>GKTCS' Comprehensive Java Course</b> is designed for
								  students and professionals who want to be a Java Developer. Practical
								  approach of learning has been followed in order to provide a real time
								  experience. Our course will cover not only the basic concepts but also
								  the advanced concepts like Method Overloading &amp; Overriding,
								  Inheritance, Interface, Database connectivity, etc.</p></p>
												<h4>Course Objectives</h4>
											<p><p align="justify">
								  <b>After the completion of the Comprehensive Java Course at GKTCS,
									you should be able to:</b></p>
								<p></p>
								1. Implement the concept of Object and Class.<p></p>
								2. Have a clear concept of Method Overloading and Overriding.<p></p>
								3. Understand the importance of Inheritance and Interface.<p></p>
								4. Store data in application dynamically using Array and HashMap.<p></p>
								5. Implement Threads using Runnable.<p></p>
								6.Connect your Application with Ms Access using JDBC drivers.<p></p></p>
												<h4>Who should go for this course?</h4>
											<p><p align="justify">All those who are looking forward to learn Java and
								  gain a solid foundation in Java programming are welcome to enroll for
								  this course.</p></p>
												<h4>Why Learn Comprehensive Java Course?</h4>
											<p><p align="justify">Java is a general-purpose, class-based,
								  object-oriented computer programming language that was designed by
								  James Gosling at Sun Microsystems in 1995.</p>
								<p></p>
								<b>Key Highlights of Java:</b>
								<p></p>
												<p align="justify">
								  <strong>Platform Independent:</strong> This allows programmers to
								  develop applications that can run on any operating system.</p>
								<p></p>
								<p align="justify">
								  <strong>Usability of Java:</strong>  Java is most widely used
								  programming language. It is present everywhere. It really doesn't
								  matter in whichever domain you work in, you will surely come across
								  Java sooner or later!</p>
								<p></p>
								<p align="justify">
								  <strong>Open Source:</strong> The good news is that Java is available
								  for free! All the development tools and the environment (JRE &amp;
								  JDK) that is used to develop Java applications are absolutely free of cost.</p>
								<p></p>
								<p align="justify">
								  <strong>Android:</strong> Irrespective of the fact whether you are
								  tech savvy or not, most of us are badly bitten by the Android bug!
								  Android is in great demand today and fortunately you need Java for
								  Android. Hence the importance of Java has increased even more.</p>
								<p></p>
								 <p align="justify">In spite of having a tough competition on the server
								  side from Microsoft and other companies, Java is doing extremely well
								  on mobile platforms, thanks to Android!</p>
								<p></p>
								  About this Course:
								<p></p>
								<p align="justify">This self-paced course starts from elementary
								  concepts assuming that you don't have any prior knowledge about
								  Java and is designed to cover advanced topics like Collections,
								  Threading, Databases and more.</p>
								 <p></p>
								<b>Course Highlights:</b>
								<p></p>
								1. The course is based on GKTCS's Project Based Learning Approach.<p></p>
								2. Recorded sessions of all the classes will be provided to you.<p></p>
								<p align="justify">3.There will be Module-wise quizzes and coding
								  assignments to re-enforce your understanding.</p>
								4.After completion of Course, a Java Skill Certificate will be provided
								to each student.<p></p></p>


						   </div>
						   
						   <div class = "tab-pane fade" id = "jCurriculum">
										<h4>
											1. Java Basics 
										</h4>  
										<p><p align="justify">
							  <strong>Learning Objectives - </strong>After this module, you will
							  have an understanding of Java Fundamentals. Now you can implement
							  applications that include control statements &amp; operators. <br /><br /><b>Topics -</b> Overview of Java, Java (JRE and JDK), GC + Memory
							  Management, Byte Code, Data Types &amp; Variables, Naming Convention
							  of Variables, Control Statements, Operators.</p> </p>
													<h4>
											2. Java Constructs 
										</h4>  
										<p><p align="justify">
							  <strong>Learning Objectives - </strong>After this module, you will be
							  able to implement various loops in Java. You can use an Array to store
							  data in your application and also implement different constructors in
							  a class. <br /><br /><b>Topics -</b> Class &amp; Objects, Constructor, Arrays, For Loop,
							  While Loop, Do-While Loop.</p> </p>
													<h4>
											3. Oop Concepts 
										</h4>  
										<p><p align="justify">   <strong>Learning Objectives - </strong>After this module, you can easily implement OOP concepts like Inheritance, Method Overloading and Method Overriding in your applications which may be align to you till now!  <br /><br /><b>Topics -</b>Defining & Importing Packages, Inheritance, Super Keyword, Method and Classes, Method Overloading, Method Overriding.</p> </p>
													<h4>
											4. Interfaces and Enums 
										</h4>  
										<p><p align="justify">   <strong>Learning Objectives - </strong>With the
							  completion of fourth   module, implementing Abstract Class and
							  Interface which has Abstract   methods will be quite simple for you!
							  You will even be able to extend   abstract class as well as implement
							  the interface in your class!  <br /><br /><b>Topics -</b>
							  Abstract Class, Abstract Methods, Defining &amp;   Implementing an
							  Interface, Enums.</p> </p>
													<h4>
											5. Dynamic Data Storage 
										</h4>  
										<p><p align="justify">
							  <strong>Learning Objectives - </strong>My dear Techies, this module
							  will equip you with saving data dynamically using Arraylist and Hash
							  Maps. This data can be used later in your application. <br /><br /><b>Topics -</b> I/O Basics, Reading Console Input, Writing Console
							  Output, Arraylist, Methods with Arraylist, Hash Map &amp; Hash Tables, Iterator.</p> </p>
													<h4>
											6. Threads 
										</h4>  
										<p><p align="justify">
							  <strong>Learning Objectives - </strong>In every java application at
							  least one thread is required. After this module, you can create
							  threads, priorities &amp; synchronize them. You will also be able to
							  implement multithreading in your application! <br /><br /><b>Topics -</b> Java Thread Model, Thread Priorities, Synchronization,
							  Creation of Threads in Multiple Ways, Runnable, Inter-thread Communication.</p> </p>
													<h4>
											7. Exception Handling 
										</h4>  
										<p><p align="justify">
							  <strong>Learning Objectives - </strong>In this Module you will learn
							  about Exception Handling and Deadlocks. <br /><br /><b>Topics -</b> Exceptions, Exception Handling and Deadlock.</p> </p>
													<h4>
											8. Database &amp; JDBC and Project 
										</h4>  
										<p><p align="justify">
							  <strong>Learning Objectives - </strong>After this module, connectivity
							  with Ms Access can be done using JDBC drivers. <br /><br /><b>Topics -</b> SQL Basics, Basic Function, Joins, JDBC Basics,
							  Connecting to Databases, Project Discussion.</p> </p>



						   </div>
						   
						   <div class = "tab-pane fade" id = "jFAQ">
							  <p></p>
						   </div>
						   
						   <div class = "tab-pane fade" id = "jCertification">
							  <h4>GKTCS Certification Process:</h4>
									<p>
										<div style="text-align: justify;">At the end of your course, you will
								  work on a real time Project. You will  receive a Problem Statement
								  along with a dataset to work. </div>
								<div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">Once you are successfully through with
								  the project (reviewed by an expert),  you will be awarded a
								  certificate with a performance based grading. </div>
								<div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">If your project is not approved in 1st
								  attempt, you can take additional  assistance to understand the
								  concepts better and reattempt the Project  free of cost.</div>    </p>

						   </div>
						   
						   <div class = "tab-pane fade" id = "jReviews">
							  <p></p>
						   </div>
						   
						</div>
									
								
							</div>
						</div>	
						</div><hr/>
					</div>				
				</div>
				</div>
			</div>	
		</div>	
{% endblock %}