<!DOCTYPE html>
{% extends "index.html" %}
{% load staticfiles %}
{% block home %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://api.html5media.info/1.1.5/html5media.min.js"></script>
      {% block flash%} {% endblock %}
    
    <style type="text/css">
        body {
            background: #fff;
            font-family: verdana;
            padding-top: 0px;
            background-color: #027fcf;
        }
        #vtab {
            margin: 10;
            width: 700px;
            height: 100%;
        }
        #vtab > ul > li {
            width: 150px;
            height: 80px;
            background-color: #fff !important;
            list-style-type: none;
            display: block;
            text-align: center;
            margin: auto;
            padding-bottom: 10px;
            border: 1px solid #fff;
            position: relative;
            border-right: none;
            opacity: .3;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
        }
        #vtab > ul > li.home {
            background: url('http://gktcs.in/GLMS/public/static/images/about1.jpg') no-repeat center center;
        }
        #vtab > ul > li.login {
            background: url('http://gktcs.in/GLMS/public/static/images/demo4.jpg') no-repeat center center;
        }
        #vtab > ul > li.support {
            background: url('http://gktcs.in/GLMS/public/static/images/content.jpg') no-repeat center center;
        }
         #vtab > ul > li.support1 {
            background: url('http://gktcs.in/GLMS/public/static/images/batches.jpg') no-repeat center center;
        }
        
        #vtab > ul > li.support2 {
            background: url('http://gktcs.in/GLMS/public/static/images/interview.jpg') no-repeat center center;
        }
         #vtab > ul > li.support3 {
            background: url('http://gktcs.in/GLMS/public/static/images/training.jpg') no-repeat center center;
        }
        #vtab > ul > li.support4 {
            background: url('http://gktcs.in/GLMS/public/static/images/FAQ.jpg') no-repeat center center;
        }
        #vtab > ul > li.support5 {
            background: url('http://gktcs.in/GLMS/public/static/images/testi.jpg') no-repeat center center;
        }
         #vtab > ul > li.support6 {
            background: url('http://gktcs.in/GLMS/public/static/images/certification.jpg') no-repeat center center;
        }
        
        
        #vtab > ul > li.selected {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            border: 1px solid #ddd;
            border-right: none;
            z-index: 10;
            background-color: #fafafa !important;
            position: relative;
        }
        #vtab > ul {
            float: left;
            width: 110px;
            text-align: left;
            display: block;
            margin: auto 0;
            padding: 0;
            position: relative;
            top: 30px;
        }
        #vtab > div {
            background-color: #fafafa;
            margin-left:150px;
            border: 1px solid #ddd;
            min-height: 700px;
            padding: 12px;
            position: relative;
            z-index: 9;
            -moz-border-radius: 20px;
        }
        #vtab > div > h4 {
            color: #800;
            font-size: 1.2em;
            border-bottom: 1px dotted #800;
            padding-top: 5px;
            margin-top: 0;
        }
        #loginForm label {
            float: left;
            width: 100px;
            text-align: right;
            clear: left;
            margin-right: 15px;
        }
        #loginForm fieldset {
            border: none;
        }
        #loginForm fieldset > div {
            padding-top: 3px;
            padding-bottom: 3px;
        }
        #loginForm #login {
            margin-left: 115px;
        }
        
     a {text-decoration: none}
    </style>

    <script type="text/javascript">
        $(function() {
            var $items = $('#vtab>ul>li');
            $items.mouseover(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('#vtab>div').hide().eq(index).show();
            }).eq(0).mouseover();
        });
    </script>

</head>
<body>

					<font color="#366D9C" size=6px style="font-family: Georgia; padding-left: 400px"><b>ASP . NET</b></font>


	
	<table width="980" height="700"> 
		<tr> 
			<td width='100'>
		
    <div id="vtab">
        <ul>
            <li class="home selected"></li>
            <li class="login"></li>
            <li class="support"></li>
            <li class="support1"></li>
            <li class="support2"></li>
            <li class="support3"></li>
            <li class="support4"></li>
            <li class="support5"></li>
            <li class="support6"></li>
        </ul>
        <div>
        	<h4>About Course</h4>
        	<br/>
           <table align="justify">
           	<tr align="justify">
           		<td valign="top">
           		<img src='http://gktcs.in/GLMS/public/static/images/aspNet.png' width='90' height="60" />
           		</td>
           		<td>
           			
<b>Course Duration:</b>45hrs<br/>
<br/>
<b>Course Description:</b><br/>
<br/>
		<b>Asp.net</b> is an open source server-side Web application framework designed for Web development to produce dynamic Web pages. It was developed by Microsoft to allow programmers to build dynamic sites.
<br/>
<br/>
<b>Who Should Attend:</b>
<br/>
<br/>
This course is intended for those  who is familier with web development.
<br/><br/>
<b>Benefits of Attendance:</b>
<br/>
<br/>
Upon completion of this course, students will get following advantages of ASP .NET:<br/>
<br/>
<ul>
<li> ASP.NET drastically reduces the amount of code required to build large applications.</li><br/>
<li>With built-in Windows authentication and per-application configuration, your applications are safe and secured.</li><br/>
<li>It provides better performance by taking advantage of early binding, just-in-time compilation, native optimization, and caching services right out of the box</li><br/>
<li>Provides simplicity as ASP.NET makes it easy to perform common tasks, from simple form submission and client authentication to deployment and site configuration.</li>
<br/>
</ul>

<b>Prerequisites:</b><br/>
<br/>
The student should know about the basic concepts of Web Development and Should have knowledge of HTML, CSS, and Javascript.</td>
           	</tr>
           	
           	
           </table>
            
        </div>     
         <div>
         	<h4>Sample Demo</h4>
         	<br/>
         	<div>
   <video id="abc" width="500px" height="360px" autoplay controls > <source src="{% static 'C:/GLMS/static/abc.mp4' %}" type="video/mp4"> </source>
     
        </video></div>

</div>
           <div>
            <h4>
              Content </h4>
              <br/>
              
            <li> to Web Application</li><br>
			<li>Server Controls Implementation</li><br>
<li>	Custom Controls, Styles and Themes</li><br>
	<li>Master Pages, Site Maps and Navigation controls</li><br>
<li>	Client and Server Side State Management System</li><br>
<li>Implementing cache and data access in Web Application</li><br>
<li>Data access using Presentation Layer, DAL, Basics of LINQ</li><br>
<li>Handle and log Errors and Debug application.</li><br>
<li>Implement Web Parts in Web Application</li><br>
<li>Web Services in Web Application</li><br>
<li>Javascript and Ajax</li><br>
<li>Internationalization, Security Process and Configure Web Service</li><br>
<li>Deploy and Implement Tracing in Web Application</li><br>

				
        </div>
        
           <div>
        
 <h4>Upcoming Batches</h4>
 <br/>
<div class="pricing_table">

<table width=500px>
		<tr width=500px ></tr>
		<b><th width=280 bgcolor="#333333" style="color:#FFFFFF;">Start date</th>
			
		<th width=95 bgcolor="#333333" style="color:#FFFFFF;">Duration</th>
		<th width=700 bgcolor="#333333" style="color:#FFFFFF;">Days</th>
		<th width=100 bgcolor="#333333" style="color:#FFFFFF;">Time</th>
		<th width=100 bgcolor="#333333" style="color:#FFFFFF;">Price</th></b>
		</tr>
		
		
		{% for j in batch %}
		<tr width=500px>
			
<td width=350 bgcolor="#CCCCCC" style="text-align: center"> {{j.Start}}</td>
<td width=220 bgcolor="#CCCCCC" style="text-align: center">{{j.Duration}}</td>
<td width=350 bgcolor="#CCCCCC" style="text-align: center">{{j.Days}}</td>

<td width=150 bgcolor="#CCCCCC" style="text-align: center">{{j.Time}}</td>
<td width=100 bgcolor="#CCCCCC" style="text-align: center">{{j.Price}}/-</td>

		
		</tr>
		{% endfor %}
		
		
	</table>	

</div>
	 <br><br>
	<br/>
		

<a href="/Enroll" style="padding-left: 320px; "><img src="http://gktcs.in/GLMS/public/static/images/enroll.png" height=40px width="190px" align="center"/></a>
        </div>
        
           <div align="justify">
           	<h4>Interview Questions</h4>
           	<br/>
           	<br/>
           	
           	<b>Question:  What is ASP.Net?</b><br/>
Ans. It is a framework developed by Microsoft on which we can develop new generation web sites using web forms(aspx), MVC, HTML, Javascript, CSS etc. Its successor of Microsoft Active Server Pages(ASP). Currently there is ASP.NET 4.0, which is used to develop web sites. There are various page extensions provided by Microsoft that are being used for web site development. Eg: aspx, asmx, ascx, ashx, cs, vb, html, XML etc.
<br><BR>
         
            <b>Question:  What’s the use of Response.Output.Write()? </b><br/>
Ans.  We can write formatted output  using Response.Output.Write().
<br><br>

<b>Question:  In which event of page cycle is the ViewState available? </b><br/>
Ans.    After the Init() and before the Page_Load().
<br/>
<br/>
<b>Question: What is the difference between Server.Transfer and Response.Redirect?   </b><br/>
Ans.  In Server.Transfer page processing transfers from one page to the other page without making a round-trip back to the client’s browser.  This provides a faster response with a little less overhead on the server.  The clients url history list or current url Server does not update in case of Server.Transfer.
<br><Br>
Response.Redirect is used to redirect the user’s browser to another page or site.  It performs trip back to the client where the client’s browser is redirected to the new page.  The user’s browser history list is updated to reflect the new address..<br><Br>
	
<b>Question:  From which base class all Web Forms are inherited?</b><br>
Ans. Page class. 
<br>
<bR>
<b>Question:  What are the different validators in ASP.NET? </b><br/>
Ans.
<li>Required field Validator</li><br>
<li>Range  Validator</li><br>
<li>Compare Validator</li><br>
<li>Custom Validator</li><br>
<li>Regular expression Validator</li><br>
<li>Summary Validator</li><br>

<b>Question: Which validator control you use if you need to make sure the values in two different controls matched?
</b><br/>
Ans. Compare Validator control.

<br><Br>
<b>Question: What is ViewState? </b><br/>
Ans. ViewState is used to retain the state of server-side objects between page post backs.
<br><br>
<b>Question:Where the viewstate is stored after the page postback? </b><bR>
Ans.
ViewState is stored in a hidden field on the page at client side.  ViewState is transported to the client and back to the server, and is not stored on the server or any other external source.
<br><br>

<b>Question:  What are the different types of caching?</b><br>  	
Ans. ASP.NET has 3 kinds of caching :
<br><Br>
<li>Output Caching,</li><bR>
<li>Fragment Caching,</li><bR>
<li>Data Caching.</li><bR>
	
        </div>
         <div align="justify">
         	<h4>
                Training Mode</h4>
                <br/>
   
         	
         	<table width=620><tr align="justify">
         		<td width="330" align="justify">
         		<br/>
         	
         	<b>Corporate Training :</b><br/>
         	
Corporate Training Solutions

Corporate training is the act of grooming the workforce in order to make them capable of handling modern business challenges by improving their approach and productivity and thus, making effective utilization of resources. We at GKTCS work hand in hand with Industry on various fronts. GKTCS’s business cycle is aligned very closely to Industry needs and structured to fulfil the industry needs in terms of Training and Recruitment.

We always believe our customers speak for our services based on their rich experience with our kind of services.
</td>
<td align="right">
	<img src="http://gktcs.in/GLMS/public/static/images/corporate.jpg"  width="200" height="150"/> 
</td>
</tr>
<tr>
	<td>
		<br/>
<b>Retail Training :</b>
<br/>
GKTCS Innovations has a set of best trainers who are constantly engaged in spreading technical and non technical knowledge to individual who are seeking an opportunity in their respective industries and would like to straight away face the challenges of the continuously improving and changing world.

The retail Training services provided by GKTCS Innovations are designed as per the needs of corporate and also as per the guidelines provided by them.
 </td>
 <td align="right">
	<img src="http://gktcs.in/GLMS/public/static/images/retail.jpg"  width="200" height="150"/>
</td>
 </tr>
 <tr>    <td>   
 	<br/>	
 <b>Online Training </b>
 <br/>
 GKTCS offers Online Training , so you get trained from where you are from our experienced trainers, In the weekdays as well as weekends by the Real Time Professionals. The program is designed to provide rich learning experience for students using Internet.         	
      </td>   
      <td align="right">
      	<img src="http://gktcs.in/GLMS/public/static/images/online.jpg"  width="200" height="150"/>
      </td>  
      </tr>	
    </table>     	
         	
         </div>
		

           <div align="justify">
           	<h4>
                FAQs</h4>
           	
           	<br/>
    
          <b>What is an interface and what is an abstract class?</b><br/>
In an interface, all methods must be abstract (must not be defined). In an abstract class, some methods can be defined. In an interface, no accessibility modifiers are allowed, whereas it is allowed in abstract classes.
<br><BR>
<b>Can two different programming languages be mixed in a single ASPX file?</b>
<br><BR>
ASP.NET’s built-in parsers are used to remove code from ASPX files and create temporary files. Each parser understands only one language. Therefore mixing of languages in a single ASPX file is not possible
<br><Br>
	
<b>Can a custom .NET data type be used in a Web form?
</b><br/>
This can be achieved by placing the DLL containing the custom data type in the application root's bin directory and ASP.NET will automatically load the DLL when the type is referenced.
<br><br>


<b>List the event handlers that can be included in Global.asax?
</b><br/>
<li>Application start and end event handlers</li><br>
<li>Session start and end event handlers</li><br>
<li>Per-request event handlers</li><br>
<li>Non-deterministic event handlers</li><br>
<br><Br>
<b>When during the page processing cycle is ViewState available?
</b><br/>
The view state is available after the Init() and before the Render() methods are called during Page load.
<br><BR>
<b> Do Web controls support Cascading Style Sheets?
</b><br/>
All Web controls inherit a property named CssClass from the base class System.Web.UI.WebControls.WebControl which can be used to control the properties of the web control.
<br><Br>
<b>What namespaces are imported by default in ASPX files?
</b><br/>
The following namespaces are imported by default. Other namespaces must be imported manually using @ Import directives.
<br><Br>
<li>System</li><br>
<li>System.Collections</li><br>
<li>System.Collections.Specialized</li><br>
<li>System.Configuration</li><br>
<li>.Text</li><br>
<li>System.Text.RegularExpressions</li><br>
<li>System.Web</li><br>
<li>System.Web.Caching</li><br>
<li>System.Web.Security</li><br>
<li>System.Web.SessionState</li><br>
<li>System.Web.UI</li><br>
<li>System.Web.UI.HtmlControls</li><br>
<li>System.Web.UI.WebControls</li><br><Br>

<b>What classes are needed to send e-mail from an ASP.NET application?
</b><br/>
The classes MailMessage and SmtpMail have to be used to send email from an ASP.NET application. MailMessage and SmtpMail are classes defined in the .NET Framework Class Library's System.Web.Mail namespace.<br><Br>
<b>Why do some web service classes derive from System.Web.WebServices while others do not?
</b><bR>
Those Web Service classes which employ objects like Application, Session, Context, Server, and User have to derive from System.Web.WebServices. If it does not use these objects, it is not necessary to be derived from it.<bR><BR>

<b>  What are VSDISCO files?</b>	<br>

VSDISCO files are DISCO files that enable dynamic discovery of Web Services. ASP.NET links the VSDISCO to a HTTP handler that scans the host directory and subdirectories for ASMX and DISCO files and returns a dynamically generated DISCO document. A client who requests a VSDISCO file gets back what appears to be a static DISCO document.      </div>
           <div>
        <h4>Testimonials</h4> 
           <div style="padding-top: 20px">
           		<table border="2" >
           			<tr>
           				<td rowspan="2"><img height="140" width="110" src="http://gktcs.in/GLMS/public/static/images/AhilanShankar.jpg" /> </td>
           				<td style="color: blue; "><b>Ahilan Shankar<br>Senior Developer, Capgemini Pune</b></td>
           			</tr>
           			<tr>
           				<td> This course of ASP.NET is helpful and we get the complete practical knowledge of the same. All the PPT's are very much effective and can be used as a reference after the completion of course.</td>
           			</tr>
           			<tr><td colspan="2" style="background: gray"></td></tr>
           			<tr>
           				<td rowspan="2"><img height="140" width="110" src="http://gktcs.in/GLMS/public/static/images/ApurvaBhat.jpg" /> </td>
           				<td style="color: blue"><b>Apurva Bhat<br>Junior Developer, Upside Learning, Pune</b></td>
           			</tr>
           			<tr>
           				<td>  Course of ASP.NET done here is effective while working in the industry and the trainers are very good in their training. The training quality provided is international level training and the contents are also easy and understandable.</td>
           			</tr>
           			<tr><td colspan="2" style="background: gray"></td></tr>
           			<tr>
           				<td rowspan="2"><img height="140" width="110" src="http://gktcs.in/GLMS/public/static/images/Neha.jpg" /> </td>
           				<td style="color: blue; "><b>Ashish Soni<br>Senior Developer, Upside Learning, Pune</b></td>
           			</tr>
           			<tr>
           				<td> It is a great training firm where I learnt the various web technologies including ASP.NET. It also helped me to get into IT industry with the complete knowledge of this technology.</td>
           			</tr>
           			<tr><td colspan="2" style="background: gray"></td></tr>
           			
           		</table>	
           		
           		
           </div>	 
        </div>
   
        <div align="justify">
            <h4>
                Certification</h4>
                <br/>
           
             At the end of the course we provide  Certification.  <br/><br/>
           <b>Process for Certification :</b>
          
  <li>You will receive a real time project Problem Statement along with a dataset to work. </li>
  <li>After complition of your project(Reviewed by an Expert),you will be awarded a certificate with a performance-based grading. </li>
 <li>If your project is not completed on time , you can take extra training for any of your doubts to understand the concepts better and re-attempt the Project free of cost.</li>
<br/>
GKTCS will help you at every stage of your learning and our 24/7 expert support team will ensure that you don't get stuck. Once you submit the project, our subject matter experts will review the same and share feedback to optimize it, if required.
        </div>
        </div>
    
    </td>
    
    <td valign="top" width="500">
  		
    <table valign="top">
    	<tr valign="top">
    		<font color="#366D9C" size=5px style="font-family: Georgia; padding-left:25px"><b>Course Features</b></font>  
    		<td align="left" valign="top" width="500" height="200">
    		
 
  <br/>
 <br/>
 <li>Expert and qualified trainers</li>
<li>Practical Project Based Approach</li>
<li>Regular Assessment & feedback</li>
<li>Total customized as per the client needs</li> 
<li>Lifetime Access</li> 
<li>  24 x 7 Support</li> 
<li>  Get Certified</li>
 

    			
     		</td>
     	
    		
    		
    	</tr>
    	
    	<tr valign="top">
    		<td height="20" valign="top" align="center">
    		
    		
    		<font color="#366D9C" size=5px style="font-family: Georgia; padding-left:25px"><b>Placed Candidate</b></font>  
    			<br/>
    			<marquee direction="up" scrollamount="4" height="300">
    			<table>
    				<tr>
    	   						
    					<table>
    						<tr>
    							<td valign="top" height="30">
    								
    								<img src="http://gktcs.in/GLMS/public/static/images/AhilanShankar.jpg" width="100" height="100"/>
    							</td>
    							<td>
    								<b>Alihan shanakar</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/capegemini.png" width="150" height="80"/> 
    							</td>
    						</tr>
    						
    						<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/sounavdas.jpg" width="100" height="100"/>
    							</td>
    							<td>
    								<b>Sonav Das</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/upsidelearning.png" width="150" height="60"/> 
    							</td>
    						</tr>
    						<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/ShashankVerma.jpg" width="60" height="80"/>
    							</td>
    							<td>
    								<b>Shashank Verma</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/leoinfotech.png" width="150"height="60"/> 
    							</td>
    						</tr>
    						<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/rasika1.jpg" width="100"height="100"/>
    							</td>
    							<td>
    								<b>Rasika</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/upsidelearning.png" width="150"height="60"/> 
    							</td>
    						</tr>
    						<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/renuka.jpg" width="100" height="100"/>
    							</td>
    							<td>
    								<b>Renuka Shirbhate</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/inetsoft.jpg" width="150"height="60"/> 
    							</td>
    						</tr>
    						<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/Neha.jpg" width="100"height="100"/>
    							</td>
    							<td>
    								<b>Neha Kottarwar</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/upsidelearning.png" width="150"height="60"/> 
    							</td>
    						</tr>
    						<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/GauravKotarwar.jpg" width="100"height="100"/>
    							</td>
    							<td>
    								<b>Gaurav Kotarwar</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/leoinfotech.png" width="150"height="60"/> 
    							</td>
    						</tr>
    						<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/PrajaktaSakale.jpg" width="100"height="100"/>
    							</td>
    							<td>
    								<b>Prajkta Sakale</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/upsidelearning.png" width="150"height="60"/> 
    							</td>
    						</tr>
    							<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/SohailShaikh.jpg" width="100"height="100"/>
    							</td>
    							<td>
    								<b>Sohail Shaikh</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/leoinfotech.png" width="150"height="60"/> 
    							</td>
    						</tr>
    						<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/ApurvaBhat.jpg" width="100"height="100"/>
    							</td>
    							<td>
    								<b>Apurva Bhat</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/upsidelearning.png" width="150"height="60"/> 
    							</td>
    						</tr>
    						<tr>
    							<td valign="top" height="30">
    								<img src="http://gktcs.in/GLMS/public/static/images/AshishSoni.jpg" width="100"height="100"/>
    							</td>
    							<td>
    								<b>Ashish Soni</b> <br/>
    								<img src="http://gktcs.in/GLMS/public/static/images/upsidelearning.png" width="150"height="60"/> 
    							</td>
    						</tr>
    					
    					    						
    						
    						
    						
    					</table>
    					
    						
    						
    					</td>
    		
    		
    	</tr>
    </table>
    
    </td>
    
    
    </tr>
	</table>
	
</body>
</html>
{% endblock %}
