{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 16px;">
							<ul class="breadcrumb well" id="course_desc1" style="margin-left: 0px;">
								<li><a href="/">HOME</a>
								</li>
								<li><a href="/mycourses/">MY COURSES</a></li>
								<li>DJANGO</li>
							</ul>
<div class="row">	

	<div class="col-md-4 col-md-push-8 ">
		<div class="well">
			<div class="row">
			<div class="col-md-12 col-sm-12">
			<div class="col-md-3 col-sm-3 profile_strength_links pull-left">
			<a href="/my-profile">
			<img id="profile_strength_pic" width="60px" height="60px" class="img-circle" alt="image" src="{{MEDIA_URL}}{{ user.userprofile.picture.url }}">
			</a>
			</div>
			<div class="col-md-9 col-sm-9 pull-left">
			<h4 class="margin-bottom10 display_name">
			{{ user.first_name }} {{ user.last_name }}
			<a class="label label-primary editproflink pull-right" style="font-size: 12px; display: none;" href="/my-profile">Edit</a>
			</h4>
			<div class="progress progress-mouseover" style="height: 8px; cursor: pointer;">
			<div class="progress-bar progress-bar-success mypopover progress-fillbar" style="width: 10%;"></div>
			</div>
			<span class="regular text-muted" style="font-size:12px;">Profile Strength 10%</span>
			<br><br>
			<div class="runs-list">
			<div class="run very-slow">
			<a class="regular prof_prog_text" style="color: #428bca;font-size:12px;" href="/myprofile">Adding your preferred contact time increases profile strength by 10% </a>
			</div>
			</div>
			</div>
			</div>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-pull-4">	
			<div class="well" style="background: #EEE">
				<div class="row">
								<div class="col-md-4 col-sm-4">
									<img class="img-responsive" id="header-logo" src="http://gktcs.in/GLMS/public/static/images/django.jpg" />
								</div>
								<div class="col-md-8 col-sm-8">
									<h1 style="margin-top: 10;">Django</h1>
									<div id="span1">Learn Python the Big data way with integration of Machine learning, Hadoop, PIG, HIVE and Web Scraping.</div>
								</div>
				</div>				
			</div>
			<div id="descripti" style="margin-bottom:20px;" >
				<div id="">
						<ul id = "myTab" class = "nav nav-tabs">
						   <li class = "active">
							  <a href = "#start" data-toggle = "tab">
								 Getting Started
							  </a>
						   </li>
						   
						   <li><a href = "#recorded" data-toggle = "tab">Pre-recorded Classes</a></li>
						   
						   <li><a href = "#content" data-toggle = "tab">Course Content</a></li>
							
							
						</ul>

						<div id = "myTabContent" class = "tab-content">

						   <div class = "tab-pane fade in active" id = "start" style="padding-left:30px;">
								<br>
								<div id="custom-show-hide-example">
							   
								  <h4 class="open circ">Getting Started with Django</h4>
									<div style="margin-left:10px;">
									  <br>Welcome, Let's Get Going on our Python for Big Data Analytics Journey... <br><br>
										How it Works?<br><br>
										1. This is an Online Course.<br><br>
										2. We have 30-hourse LIVE and Interactive Sessions.<br><br>
										3. We have 40 hours of Practical Work involving Lab Assignment, Case Studies and Project every week which can be done at your own pace. We can also provide you Remote Access to our Hadoop Cluster for doing Practicals.<br><br>
										4. We have 24X7 One-on-One Live Technical Support to help you with any problems you might face or any clarifications you may require during the course.<br><br>
										5. At the end of the training you will have to work on Real Time Project on which we will provide you a Grade and a Verified Certificate!<br><br>
									</div>
								</div>
								<br>
						   </div>
						   
						   <div class = "tab-pane fade" id = "recorded">
								<br>
								<hr><div><a class="bla-2" href="https://youtu.be/U1DxyQwZwRI"><span style="font-size:18px; color:#00A4CB">Class 1 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
								<hr><div><a class="bla-2" href="https://youtu.be/gDlPd7WQHKQ"><span style="font-size:18px; color:#00A4CB">Class 2 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
						    	<hr><div><a class="bla-2" href="https://youtu.be/zF0XQjk2dnc"><span style="font-size:18px; color:#00A4CB">Class 3 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
								<hr><div><a class="bla-2" href="https://youtu.be/ssS1c4MKlnM"><span style="font-size:18px; color:#00A4CB">Class 4 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div><hr><br>
						   </div>
						   
							<div class = "tab-pane fade" id = "content" style="padding-left:30px;text-align: left;">
							<!-- BEGIN Custom show and hide -->
							  <div id="custom-show-hide-example2" style="padding-bottom:20px;">
								<h4 class="open circ" style="font-weight: 500;">Python Installation Guide</h4>
								<div style="margin-left:10px;">
								  <hr><a href="https://www.python.org/downloads/windows/"><p style="font-size:18px; color:#00A4CB">Python Installation Guide for Windows</p></a><hr>
								  <a href="https://wiki.python.org/moin/BeginnersGuide/Download"><p style="font-size:18px; color:#00A4CB">Python Installation Guide for Linux</p></a><hr>
								  <a href="https://www.python.org/downloads/mac-osx/"><p style="font-size:18px; color:#00A4CB">Python Installation Guide for Mac OS</p></a><hr>
								</div>
							  <h4 class="circ" style="margin-top:20px;">Module 1: Getting Started with Python</h4>
								<div style="padding:10px;">
									<p><b>Learning Objectives - </b>In this module, you will understand what is Python and why is so popular. You will also learn how to set up Python environment, Flow control and will write your first Python program</p>
									<p><b>Topics - </b>Python Overview, About Interpreted Languages, Advantages/Disadvantages of Python, pydoc. Starting Python, Interpreter PATH, Using the Interpreter, Running a Python Script, Python Scripts on UNIX/Windows, Python Editors and IDEs. Using Variables, Keywords, Built-in Functions, Strings, Different Literals, Math Operators and Expressions, Writing to the Screen, String Formatting, Command Line Parameters and Flow Control.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 1 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 1 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Python Introduction</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 1 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 1 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Pre-work for Module 2</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div><hr>
								</div>
							  <h4 class="circ" style="margin-top:20px;">Module 2: Sequences and File Operations</h4>
									<div style="padding:10px;">
										<p><b>Learning Objectives - </b> In this module, you will learn different types of sequences in Python, the power of dictionary and how to use files in Python. </p>
										<p><b>Topics - </b>Lists, Tuples, Indexing and Slicing, Iterating through a Sequence, Functions for all Sequences, Using Enumerate(), Operators and Keywords for Sequences, The xrange() function, List Comprehensions, Generator Expressions, Dictionaries and Sets.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 2 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 2 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 2 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 2 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Pre-work for Module 3</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div><hr>
									</div>
							  <h4 class="circ" style="margin-top:20px;">Module 3: Deep Dive - Functions, Sorting, Errors and Exception</h4>
									<div style="padding:10px;">
										<p><b>Learning Objectives - </b>In this module, you will understand how to use and create functions, sorting different elements, Lambda function, error handling techniques and using modules in Python. </p>
										<p><b>Topics - </b>Functions, Function Parameters, Global Variables, Variable Scope and Returning Values. Sorting, Alternate Keys, Lambda Functions, Sorting Collections of Collections, Sorting Dictionaries, Sorting Lists in Place. Errors and Exception Handling, Handling Multiple Exceptions, The Standard Exception Hierarchy, Using Modules, The Import Statement, Module Search Path, Package Installation Ways.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 3 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 3 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 3 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 3 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Pre-work for Module 4</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div><hr>

									</div>
							  <h4 class="circ" style="margin-top:20px;">Module 4: Regular Expressions, its Packages and Object Oriented Programming in Python</h4>
									<div style="padding:10px;">
										<p><b>Learning Objectives - </b>In this module, we understand the Object Oriented Programming world in Python, use of standard libraries and regular expressions.</p>
										<p><b>Topics - </b>The Sys Module, Interpreter Information, STDIO, Launching External Programs, Paths, Directories and Filenames, Walking Directory Trees, Math Function, Random Numbers, Dates and Times, Zipped Archives, Introduction to Python Classes, Defining Classes, Initializers, Instance Methods, Properties, Class Methods and Data, Static Methods, Private Methods and Inheritance, Module Aliases and Regular Expressions.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 4 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 4 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 4 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 4 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Pre-work for Module 5</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div><hr>
									</div>
							  <h4 class="circ" style="margin-top:20px;">Module 5: Debugging, Database and Project Skeletons</h4>
									<div style="padding:10px;">
										<p><b>Learning Objectives - </b> In this module, you will learn how to debug, how to use databases and how a project skeleton looks like in Python. </p>
										<p><b>Topics - </b>Debugging, Dealing with Errors, Using Unit Tests. Project Skeleton, Required Packages, Creating the Skeleton, Project Directory, Final Directory Structure, Testing your Setup, Using the Skeleton, Creating a Database with SQLite 3, CRUD Operations, Creating a Database Object.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 5 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 5 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 5 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 5 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Pre-work for Module 6</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div><hr>

									</div>
							  <h4 class="circ" style="margin-top:20px;">Module 6: Machine Learning Using Python - I</h4>
									<div style="padding:10px;">
										<p><b>Learning Objectives - </b>This module will help you understand what Machine Learning is, why Python is preferred for it and some important packages used for scientific computing.</p>
										<p><b>Topics - </b> Introduction to Machine Learning, Areas of Implementation of Machine Learning, Why Python, Major Classes of Learning Algorithms, Supervised vs Unsupervised Learning, Learning NumPy, Learning Scipy, Basic plotting using Matplotlib. In this module we will also build a small Machine Learning application and discuss the different steps involved while building an application.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 6 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 1 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 6 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 6 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Pre-work for Module 7</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div><hr>

									</div>
							  <h4 class="circ" style="margin-top:20px;">Module 7: Machine Learning Using Python - II</h4>
									<div style="padding:10px;">
										<p><b>Learning Objectives - </b>In this module, you will learn in detail about Supervised and Unsupervised learning and examples for each category. </p>
										<p><b>Topics - </b>Classification Problem, Classifying with k-Nearest Neighbours (kNN) Algorithm, General Approach to kNN, Building the Classifier from Scratch, Testing the Classifier, Measuring the Performance of the Classifier. Clustering Problem, What is K-Means Clustering, Clustering with k-Means in Python and an Application Example. Introduction to Pandas, Creating Data Frames, Grouping, Sorting, Plotting Data, Creating Functions, Converting Different Formats, Combining Data from Various Formats, Slicing/Dicing Operations.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 7 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 7 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 7 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 7 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Pre-work for Module 8</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div><hr>
									</div>
							  <h4 class="circ" style="margin-top:20px;">Module 8: Scikit and Introduction to Hadoop</h4>
									<div style="padding:10px;">
										<p><b>Learning Objectives - </b>This module will cover Scikit and an introduction to Hadoop MapReduce concepts.</p>
										<p><b>Topics - </b>Introduction to Scikit-Learn, Inbuilt Algorithms for Use, What is Hadoop and why it is popular, Distributed Computation and Functional Programming, Understanding MapReduce Framework, Sample MapReduce Job Run.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 8 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 8 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 8 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 8 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Pre-work for Module 9</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div><hr>
									</div>
							  <h4 class="circ" style="margin-top:20px;">Module 9: Hadoop and Python</h4>
									<div style="padding:10px;">
										<p><b>Learning Objectives - </b> In this module, you will understand how to use Python in Hadoop MapReduce as well as in PIG and HIVE.</p>
										<p><b>Topics - </b>PIG and HIVE Basics, Streaming Feature in Hadoop, Map Reduce Job Run using Python, Writing a PIG UDF in Python, Writing a HIVE UDF in Python, Pydoop and MRjob Basics.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 9 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 9 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 9 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 9 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Pre-work for Module 10</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div><hr>
									</div>
							  <h4 class="circ" style="margin-top:20px;">Module 10: Web Scraping in Python and Project Work</h4>
									<div style="padding:10px;">
										<p><b>Learning Objectives - </b>In this module, we will discuss about the powerful web scraping using Python and a real world project. </p>
										<p><b>Topics - </b>Web Scraping, Introduction to Beautifulsoup Package, How to Scrape Webpages. A real world project showing scrapping data from Google finance and IMDB.</p>
										<hr><div><a class="bla-2" href="https://youtu.be/6x4m8C5NNcg"><span style="font-size:18px; color:#00A4CB">Class 10 Recording</span></a> <a style="float:right" class="" href="https://youtu.be/6x4m8C5NNcg"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/play_icon.png"></a></div> 
										<hr><div><a class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><span style="font-size:18px; color:#00A4CB">Module 10 - Presentation</span></a> <a style="float:right" class="" href="http://www.slideshare.net/nowells/introduction-to-python-5182313"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/view_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 10 - Assignment</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
										<hr><div><a class="" href="/python.pdf"><span style="font-size:18px; color:#00A4CB">Module 10 - Assignment Solution</span></a> <a style="float:right" class="" href="/python.pdf"><img height="20px" src="http://gktcs.in/GLMS/public/static/images/download_icon.png"></a></div>
								</div>
							  </div>
							  <!-- END Custom show and hide -->
							</div>
						      
						</div>
							
						
				</div>				
			
			</div>
			<div class="well" >		
			<div class=" row" id="course_wrap_row">
				<h2 style="text-align:center; color:#0464BB;margin-bottom: 20px;margin-top: 30px;">Recommended Courses</h2>
				<div class="col-md-3 col-sm-6 course_wrap">
				<a href="{% url 'python' %}">
					<div class="course_inner">
						<div>
							<img class="img-responsive" src="http://gktcs.in/GLMS/public/static/images/Pyt1.png"/>
						</div>
						<h3>Mastering Python</h3>
						<p>100 Learners</p>
						<p>Jan 16 Onwards</p>
						<h3><b style="padding-bottom:5px;"> ?16000</b></h3>
					</div>
				</a>	
				</div>
				<div class="col-md-3 col-sm-6 course_wrap">
				<a href="{% url 'rubyonrails' %}">
					<div class="course_inner">
						<div>
							<img style="width: 100%" class="img-responsive" src="http://gktcs.in/GLMS/public/static/images/ruby.jpg"/>
						</div>
						<h3>Ruby On Rails</h3>
						<p>100 Learners</p>
						<p>Jan 16 Onwards</p>
						<h3><b style="padding-bottom:5px;"> ?15000</b></h3>
					</div>
				</a>	
				</div>
				<div class="col-md-3 col-sm-6 course_wrap">
				<a href="{% url 'hadoop' %}">
					<div class="course_inner">
						<div>
							<img class="img-responsive" src="http://gktcs.in/GLMS/public/static/images/hadoop1.jpg"/>
						</div>
						<h3>Hadoop</h3>
						<p>100 Learners</p>
						<p>Jan 16 Onwards</p>
						<h3><b style="padding-bottom:5px;"> ?16000</b></h3>
					</div>
				</a>	
				</div>
				<div class="col-md-3 col-sm-6 course_wrap">
				<a href="{% url 'datascience' %}">
					<div class="course_inner">
						<div>
							<img style="width: 100%" class="img-responsive" src="http://gktcs.in/GLMS/public/static/images/datasci1.jpg"/>
						</div>
						<h3>Data Science</h3>
						<p>100 Learners</p>
						<p>Jan 16 Onwards</p>
						<h3><b style="padding-bottom:5px;"> ?15000</b></h3>
					</div>
				</a>	
				</div>
			</div>
			</div>
					
	</div>
	
</div>
</div>

{% endblock %}