{% extends "base.html" %}

{% block content %}

		<div id="">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<div id="course_desc"><br/>
						<div>
							<div class="row" style="background: rgba(40, 55, 73, 0.1);margin:10px; padding-top:4px;padding-bottom:4px; border-radius:5px;">
								<div class="col-md-3 col-sm-3">
									<img class="img-responsive" id="header-logo" src="http://gktcs.in/GLMS/public/static/images/Pyt1.png" />
								</div>
								<div class="col-md-9 col-sm-9">
									<h3 style="margin-bottom: 1px; margin-top: 2px;">Python</h3>
									<div id="span1">Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language.Learn Python the Big data way with integration of Machine learning, Hadoop, PIG, HIVE and Web Scraping.
									

									</div>
								</div>
							</div>
						</div>
						<div>
						<div class="row" style="margin:-5px; padding-top:10px;">
							<div class="col-md-4">
									<div id="screen1">
										<iframe width="560" height="315" src="//www.youtube.com/embed/zF0XQjk2dnc" frameborder="0" allowfullscreen></iframe>
									</div>
							</div>
							<div class="col-md-8">
								<h4 id="upcom" style="margin-top:0px;"><b>Upcoming Batches : </b></h4>
								<table class="table" id="table1">
									<thead>
									  <tr id="head1">
										<th>BATCH</th>
										<th>DAYS</th>
										<th>TIME(IST)</th>
										<th>PRICE</th>
										<th>&nbsp </th>
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<td>Weekdays (Morning)</td>
										<td>Mon-Fri (15 Days)</td>
										<td>06:00 AM- 08:00 AM</td>
										<td>20,000</td>
										<td id="enr"><a href="https://www.instamojo.com/sanketlolge/python-3a5bc/" rel="im-checkout" data-behaviour="remote" data-style="no-style" data-text="Enroll>>" data-token="c84e06fb5adad086a12cf5688ea23519" style="margin-bottom: 0px !important;margin-top: 0px!important ; color: #3399ee;"></a>
<script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script></td>
									  </tr>
									  <tr>
										<td>Weekdays (Evening)</td>
										<td>Mon-Fri (15 Days)</td>
										<td>08:00 PM- 10:00 PM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									  <tr>
										<td>Weekend (Morning)</td>
										<td>Sat,Sun (5-Weeks)</td>
										<td>07:30 AM- 10:30 AM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									  <tr>
										<td>Weekend (Evening)</td>
										<td>Sat,Sun (5-Weeks)</td>
										<td>07:30 PM- 10:30 PM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									</tbody>
								 </table>
							</div>
						</div>
						<div style="padding:10px;">
							<h3 style="color:#00A4CB; text-align:center; margin-top:0px;"> About Course</h3>
							<div sid="descripti">
								<ul id = "myTab" class = "nav nav-tabs" >
								   <li class = "active">
									  <a href = "#pabout" data-toggle = "tab">
										 About The Course
									  </a>
								   </li>
								   
								   <li><a href = "#pCurriculum" data-toggle = "tab">Curriculum</a></li>
								   
								   <li><a href = "#pFAQ" data-toggle = "tab">FAQ's</a></li>
								   
								   <li><a href = "#pCertification" data-toggle = "tab">Certification</a></li>
								   
								   <li><a href = "#pReviews" data-toggle = "tab">Reviews</a></li>
									
									
								</ul>

								<div id = "myTabContent" class = "tab-content" style="padding:10px; text-align:justify;">

								   <div class = "tab-pane fade in active" id = "pabout">
									  <h4>About The Course</h4>
									Python has been one of the premier, flexible, and powerful open-source language that is easy to learn, easy to use, and has powerful libraries for data manipulation and analysis. For over a decade, Python has been used in scientific computing and highly quantitative domains such as finance, oil and gas, physics, and signal processing. This course will cover both basic and advance concepts of Python like writing python scripts, sequence and file operations in python, Machine Learning in Python, Web Scraping, Map Reduce in Python, Hadoop Streaming, Python UDF for Pig and Hive. You will also go through important and most widely used packages like pydoop, pandas, scikit, numpy scipy etc.<br>
								<h4>Course Objectives</h4>
									After the completion of the Mastering Python Course at GKTCS, you should be able to:<br> 

									1. Master the Basic and Advanced Concepts of Python<br>
									2. Understand Python Scripts on UNIX/Windows, Python Editors and IDEs<br>
									3. Master the Concepts of Sequences and File operations<br>
									4. Learn how to use and create functions, sorting different elements, Lambda function, error handling techniques and Regular expressions ans using modules in Python<br>
									5. Gain expertise in machine learning using Python and build a Real Life Machine Learning application<br>
									6. Understand the supervised and unsupervised learning and concepts of Scikit-Learn<br>
									7. Master the concepts of MapReduce in Hadoop<br>
									8. Learn to write Complex MapReduce programs<br>
									9. Understand what is PIG and HIVE, Streaming feature in Hadoop, MapReduce job running with Python<br> 
									10. Implementing a PIG UDF in Python, Writing a HIVE UDF in Python, Pydoop and/Or MRjob Basics<br>
									11. Master the concepts of Web scraping in Python<br>
									12. Work on a Real Life Project on Big Data Analytics using Python and gain Hands on Project Experience<br>

								<h4>Who should go for this course?</h4>
								Experienced Professional or a Beginner, Anyone who wants to learn programming with Python can start right away! 
								<br>
								This course is exclusively designed for professionals aspiring to make a career in Big Data Analytics using Python. Software Professionals, Analytics Professionals, ETL developers, Project Managers, Testing Professionals are the key beneficiaries of this course. Other professionals who are looking forward to acquire a solid foundation of this widely-used open source general-purpose scripting language, can also opt for this course.
								<br>
							<h4>Pre-requisites</h4>
								Although there are no hard pre-requisites, attendees having prior programming experience and familiarity with basic concepts such as variables/scopes, flow-control, and functions would be beneficial. Prior exposure to object-oriented programming concepts is not required, but definitely beneficial.<br>

							<h4>Project Work</h4>

							A real world project showing scrapping data from Google finance and IMDB using beautiful soup.<br>
							We will also perform sentiment analysis over the live tweets fetched from twitter.<br>

							<h4>Why learn Python?</h4>
							Programmers love Python because of how fast and easy it is to use. Python cuts development time in half with its simple to read syntax and easy compilation feature. Debugging your programs is a breeze in Python with its built in debugger. Using Python makes Programmers more productive and their programs ultimately better. Python is continued to be a favourite option for data scientists who use it for building and using Machine learning applications and other scientific computations.<br>
							Python runs on Windows, Linux/Unix, Mac OS and has been ported to Java and .NET virtual machines. Python is free to use, even for the commercial products, because of its OSI-approved open source license. <Br>
							Python has evolved as the most preferred Language for Data Analytics and the increasing search trends on python also indicates that Python is the next "Big Thing" and a must for Professionals in the Data Analytics domain.<Br> 
							
								   </div>
								   
								   <div class = "tab-pane fade" id = "pCurriculum">
													<h4>
									1. Getting Started with Python 
								</h4>  
								<p><div style="text-align: justify;">   <b>Learning  Objectives</b> - In
								  this module, you will understand   what Python is and why it is so
								  popular. You will also learn how to   set up Python environment, flow
								  control and will write your first   Python program.</div>
								  <div style="text-align: justify;">   <br /></div>
								 <div style="text-align: justify;">   <b
								  style="font-weight: bold;">Topics</b>   <b> - </b>Python Overview,
								  About Interpreted Languages,   Advantages/Disadvantages of  Python,
								  pydoc. Starting Python,   Interpreter PATH, Using the  Interpreter,
								  Running a Python Script,   Python Scripts on UNIX/Windows,  Python
								  Editors and IDEs. Using   Variables, Keywords, Built-in  Functions,
								  Strings, Different Literals,   Math Operators and  Expressions,
								  Writing to the Screen, String   Formatting, Command Line  Parameters
								  and Flow Control.</div> </p>
														<h4>
												2. Sequences and File Operations 
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning  Objectives</b> - In  this module, you will learn
								  different types of sequences in Python,  the power of dictionary and
								  how to use files in Python. </div>
								<div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b style="font-weight: bold;">Topics</b>
								  <b> - </b>Lists,  Tuples, Indexing and Slicing, Iterating through a
								  Sequence, Functions  for all Sequences, Using Enumerate(), Operators
								  and Keywords for  Sequences, The xrange() function, List
								  Comprehensions, Generator  Expressions, Dictionaries and Sets.</div> </p>
														<h4>
												3. Deep Dive - Functions, Sorting, Errors and Exception Handling 
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning Objectives</b> - In this module, you will understand how
								  to use and create functions, sorting different elements, Lambda
								  function, error handling techniques and using modules in        Python. </div>
											  <div style="font-weight: bold;text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b style="font-weight: bold;">Topics</b>
								  <b> - </b>Functions, Function Parameters, Global        Variables,
								  Variable Scope and Returning Values. Sorting, Alternate Keys, Lambda
								  Functions, Sorting Collections of Collections, Sorting Dictionaries,
								  Sorting Lists in Place.        Errors and Exception Handling, Handling
								  Multiple Exceptions, The Standard Exception Hierarchy, Using Modules,
								  The Import Statement, Module Search Path, Package Installation Ways.</div>
								<br /> </p>
														<h4>
												4. Regular Expressions, it's Packages and Object Oriented Programming in Python 
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning Objectives</b> - In this module, we understand the
								  Object Oriented Programming world in Python, use of standard
								  libraries and regular expressions. </div>
								<div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b>Topics</b> - The Sys Module, Interpreter Information, STDIO,
								  Launching External Programs, Paths, Directories and Filenames,
								  Walking Directory Trees, Math Function, Random Numbers, Dates
								  and Times, Zipped Archives, Introduction to Python Classes,
								  Defining Classes, Initializers, Instance Methods, Properties,
								  Class Methods and Data, Static Methods, Private Methods and
								  Inheritance, Module Aliases and Regular Expressions.<br />
								  <br /></div> </p>
														<h4>
												5. Debugging, Databases and Project Skeletons 
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning  Objectives</b> - In  this module, you will learn how to
								  debug, how to use databases and how  a project skeleton looks like in Python. </div>
								 <div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b>Topics</b> - Debugging,  Dealing with Errors, Using Unit Tests.
								  Project Skeleton, Required  Packages, Creating the Skeleton, Project
								  Directory, Final Directory  Structure, Testing your Setup, Using the
								  Skeleton, Creating a Database  with SQLite 3, CRUD Operations,
								  Creating a Database Object.</div> </p>
														<h4>
												6. Machine Learning Using Python - I 
											</h4>  
											<p><div style="text-align: justify;">   <b>Learning  Objectives</b> -  This
								  module will help you understand   what Machine Learning is, why Python
								  is preferred for it and some   important packages used for scientific computing. </div>
								  <div style="text-align: justify;">   <br /></div>
								 <div style="text-align: justify;">   <b>Topics</b> - Introduction  to
								  Machine Learning, Areas of   Implementation of Machine Learning, Why
								  Python, Major Classes of   Learning Algorithms, Supervised vs
								  Unsupervised Learning, Learning   NumPy, Learning Scipy, Basic
								  plotting  using Matplotlib. In this   module we will also build a
								  small Machine  Learning application and   discuss the different steps
								  involved while  building an application.</div> </p>
														<h4>
												7. Machine Learning Using Python - II 
											</h4>  
											<p><div style="text-align: justify;">   <b>Learning  Objectives</b> -  In
								  this module, you will learn in   detail about Supervised and
								  Unsupervised learning and examples for   each category. </div>
								   <div style="text-align: justify;">   <br /></div>
								  <div style="text-align: justify;">   <b>Topics </b>-  Classification
								  Problem, Classifying with k-Nearest   Neighbours (kNN) Algorithm,
								  General Approach to kNN, Building the   Classifier from Scratch,
								  Testing  the Classifier, Measuring the   Performance of the
								  Classifier.  Clustering Problem, What is K-Means   Clustering,
								  Clustering with  k-Means in Python and an Application   Example.
								  Introduction to Pandas,  Creating Data Frames, Grouping,   Sorting,
								  Plotting Data, Creating  Functions, Converting Different   Formats,
								  Combining Data from Various  Formats, Slicing/Dicing Operations.</div> </p>
														<h4>
												8. Scikit and Introduction to Hadoop 
											</h4>  
											<p><div style="text-align: justify;">   <b>Learning  Objectives</b> - This
								  module will cover Scikit and an   introduction to Hadoop MapReduce concepts. </div>
								  <div style="text-align: justify;">   <br /></div>
								 <div style="text-align: justify;">   <b>Topics </b>- Introduction  to
								  Scikit-Learn, Inbuilt Algorithms for   Use, What is Hadoop and why it
								  is popular, Distributed Computation   and Functional Programming,
								  Understanding MapReduce Framework, Sample   MapReduce Job Run.</div> </p>
														<h4>
												9. Hadoop and Python 
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning  Objectives </b>-  In  this module, you will understand
								  how to use Python in Hadoop MapReduce  as well as in PIG and HIVE. </div>
								 <div style="text-align: justify;">
								  <b>
									<br /></b></div>
								<div style="text-align: justify;">
								  <b>Topics</b> -  PIG  and HIVE Basics, Streaming Feature in Hadoop,
								  Map Reduce Job Run using  Python, Writing a PIG UDF in Python, Writing
								  a HIVE UDF in Python,  Pydoop and MRjob Basics.</div> </p>
														<h4>
												10. Web Scraping in Python and Project Work 
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning  Objectives</b> -  In  this module, we will discuss about
								  the powerful web scraping using  Python and a real world project. </div>
								 <div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b>Topics</b> -  Web  Scraping, Introduction to Beautifulsoup Package,
								  How to Scrape  Webpages. A real world project showing scrapping data
								  from Google  finance and IMDB.</div> </p>
					

								   </div>
								   
								   <div class = "tab-pane fade" id = "pFAQ">
									  <p></p>
								   </div>
								   
								   <div class = "tab-pane fade" id = "pCertification">
									  <h4>GKTCS Certification Process:</h4>
											<p>
												<div style="text-align: justify;">At the end of your course, you will
										  work on a real time Project. You will  receive a Problem Statement
										  along with a dataset to work. </div>
										<div style="text-align: justify;">
										  <br /></div>
										<div style="text-align: justify;">Once you are successfully through with
										  the project (reviewed by an expert),  you will be awarded a
										  certificate with a performance based grading. </div>
										<div style="text-align: justify;">
										  <br /></div>
										<div style="text-align: justify;">If your project is not approved in 1st
										  attempt, you can take additional  assistance to understand the
										  concepts better and reattempt the Project  free of cost.</div>    </p>

								   </div>
								   
								   <div class = "tab-pane fade" id = "pReviews">
									  <p></p>
								   </div>
								   
								</div>
									
								
							</div>
						</div>	
						</div><hr/>
					</div>
					</div>
				</div>
			</div>	
		</div>
{% endblock %}		