{% extends "base.html" %}

{% block content %}

		<div id="div1">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
					<div id="course_desc"><br/>
						<div class="">
						<div class="row" style="background: rgba(40, 55, 73, 0.1);margin:10px; padding-top:4px;padding-bottom:4px; border-radius:5px;">
								<div class="col-md-3 col-sm-3 ">
									<img class="img-responsive" id="header-logo" src="http://gktcs.in/GLMS/public/static/images/ruby.jpg" />
								</div>
								<div class="col-md-9 col-sm-9 ">
									<h3 style="margin-bottom: 1px; margin-top: 2px;">Ruby on Rails</h3>
									<div id="span1">Explore about full-stack web development practices with 'Ruby on Rails' to build highly scalable applications in shorter time span compared to its counterparts using concepts like MVC, Gems, Action View, Action Controller, Active Record & Deployment and Web Application Projects.
								</div>
							</div>
						</div>
						<div class="">
						<div class="row" style="margin:-5px; padding-top:10px;">
							<div class="col-md-4">
									<div id="screen1">
										<iframe width="560" height="315" src="//www.youtube.com/embed/exEduZlJS7Q" frameborder="0" allowfullscreen></iframe>
									</div>
							</div>
							<div class="col-md-8">
								<h4 id="upcom" style="margin-top:0px;"><b>Upcoming Batches : </b></h4>
								<table class="table" id="table1">
									<thead>
									  <tr id="head1">
										<th>BATCH</th>
										<th>DAYS</th>
										<th>TIME(IST)</th>
										<th>PRICE</th>
										<th>&nbsp </th>
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<td>Weekdays (Morning)</td>
										<td>Mon-Fri (15 Days)</td>
										<td>06:00 AM- 08:00 AM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									  <tr>
										<td>Weekdays (Evening)</td>
										<td>Mon-Fri (15 Days)</td>
										<td>08:00 PM- 10:00 PM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									  <tr>
										<td>Weekend (Morning)</td>
										<td>Sat,Sun (5-Weeks)</td>
										<td>07:30 AM- 10:30 AM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									  <tr>
										<td>Weekend (Evening)</td>
										<td>Sat,Sun (5-Weeks)</td>
										<td>07:30 PM- 10:30 PM</td>
										<td>20,000</td>
										<td id="enr">Enroll>></td>
									  </tr>
									</tbody>
								 </table>
							</div>
						</div>
						<div style="padding:10px;">
							<h3 class="" style="color:#00A4CB; text-align:center; margin-top:0px;"> About Course</h3>	
							<div sid="descripti" class="">
								<ul id = "myTab" class = "nav nav-tabs" >
								   <li class = "active">
									  <a href = "#rabout" data-toggle = "tab">
										 About The Course
									  </a>
								   </li>
								   
								   <li><a href = "#rCurriculum" data-toggle = "tab">Curriculum</a></li>
								   
								   <li><a href = "#rFAQ" data-toggle = "tab">FAQ's</a></li>
								   
								   <li><a href = "#rCertification" data-toggle = "tab">Certification</a></li>
								   
								   <li><a href = "#rReviews" data-toggle = "tab">Reviews</a></li>
									
									
								</ul>

								<div id = "myTabContent" class = "tab-content" style="padding:10px; text-align:justify;">

								   <div class = "tab-pane fade in active" id = "rabout">
									  <h4>About The Course</h4>
									'Ruby on Rails' course will enable learners to build web applications using the powerful Rails framework and the highly dynamic, object-oriented Ruby language. It will cover all the fundamental concepts of OOPS and Web Applications, Ruby scripting, MVC architecture to advanced topics like Gemified plugins, Application deployments, API conventions, cloud support by Heroku, Front End, and Back End DB collaborations etc. Participants will also get to implement one project towards the end of the course.<br>
								<h4>Course Objectives</h4>
									After the completion of the Ruby on Rails at GKTCS, you should be able to:<br> 

									1. Master key Rails techniques, including REST, security, data modeling and more</br>
									2. Learn about Gems that allow you to develop social functions, audit templates, integration with external APIs and more<br/>
									3. Use Active Record(Rail's ORM) with associations, validations and callbacks<br/>
									4. Perform test-driven development(TDD) using RSpec and Capybara<br/>
									5. Perform behavior-driven development (BDD) with Cucumber<br/>
									6. Build dynamic database-driven web sites

								<h4>Who should go for this course?</h4>
								The course is designed for professionals who want to learn Web Application techniques. Those just starting off and looking to learn the basics of Ruby on Rails. Anyone who is interested in learning to build websites, experienced programmers looking to pick up a new language/technology and experienced Rubyists looking to advance their skills.
								<br>
							<h4>Pre-requisites</h4>
								The pre-requisites for this course include Ruby basics, basics of database systems (tables, datatypes), types of databases (conventional and NoSQL), JavaScript basics, HTML, CSS, HTTP (GET vs POST).<br>

							<h4>Project Work</h4>

							Towards the end of the Course, you will be working on a live project where you will be using Front end, Back end, MVC and Gems. <br>

							<h4>Why Learn Ruby on Rails?</h4>
							Ruby on Rails training certifies you with in demand Web Application Technologies to help you grab the top paying IT job title with Web Application skills and expertise in Full Stack. Rails is written in Ruby, which is a language explicitly designed with the goal of increasing programmer happiness. This unbiased and universal view makes Ruby on Rails unique in today's Job market as a leader in the Web Application platform.<Br> 
							
								   </div>
								   
								   <div class = "tab-pane fade" id = "rCurriculum">
													<h4>
									1. Introduction to Ruby & Rails
								</h4>  
								<p><div style="text-align: justify;">   <b>Learning  Objectives</b> - In this module, you will understand Ruby and Rails Definitions, OOPS, Philosophy, Architecture and Installation.</div>
								  <div style="text-align: justify;">   <br /></div>
								 <div style="text-align: justify;">   <b
								  style="font-weight: bold;">Topics</b>   <b> - </b>Ruby Introduction, Rails Introduction, Understanding OOPS, Understanding Web Application, Understanding MVC, Ruby on Rails Installation.</div> </p>
														<h4>
												2. Ruby Basics Part 1
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning  Objectives</b> - In this module, you will learn Ruby Basics, Data types and Control Structures.  </div>
								<div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b style="font-weight: bold;">Topics</b>
								  <b> - </b>Ruby, IRB, Classes, Modules, Methods, Operators, String, Fixnum, Control Structures.</div> </p>
														<h4>
												3. Ruby Basics Part 2
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning Objectives</b> - In this module, you will learn about the advanced topics in Ruby.</div>
											  <div style="font-weight: bold;text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b style="font-weight: bold;">Topics</b>
								  <b> - </b>Array, Hashes, Regular Expressions, Mixins, Blocks, Proc and Lambda, Ranges, Exception Handling, Files and IO.</div>
								 </p>
														<h4>
												4. Getting Started with Rails
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning Objectives</b> - In this module, you will learn Web Application, Creation and Running Rails Application, Directory Layout.</div>
								<div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b>Topics</b> - Creating and Running first Rails Application, Rails-Hello world, Directory Layout, Creating Quick Application via Scaffolding, Scaffold Workflow, MVC files, manual creation.<br />
								  </div> </p>
														<h4>
												5. Action View 
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning  Objectives</b> - In this module, you will learn Front end Technologies like HTML, Bootstrap.</div>
								 <div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b>Topics</b> - HTML Review, Layout integration, Bootstrap Layout Integration, Form helpers, SQL Review.</div> </p>
														<h4>
												6. Active Record 
											</h4>  
											<p><div style="text-align: justify;">   <b>Learning  Objectives</b> -  In this module, you will learn Models, Tables and Relationships, SQL.</div>
								  <div style="text-align: justify;">   <br /></div>
								 <div style="text-align: justify;">   <b>Topics</b> - ORM, Active Record Basics, Migrations, Validations, Callbacks, Query Interface Methods, Association.</div> </p>
														<h4>
												7. Action Controller
											</h4>  
											<p><div style="text-align: justify;">   <b>Learning  Objectives</b> -  In this module, you will learn Controller Concepts, Routing, Sessions and Cookies.</div>
								   <div style="text-align: justify;">   <br /></div>
								  <div style="text-align: justify;">   <b>Topics </b>-  Controller Basics, Routing, Sessions, Cookies, Parameters, Filters.</div> </p>
														<h4>
												8. Rails Digging Deeper
											</h4>  
											<p><div style="text-align: justify;">   <b>Learning  Objectives</b> - In this module, to you will learn about the advanced topics of Rails Framework.</div>
								  <div style="text-align: justify;">   <br /></div>
								 <div style="text-align: justify;">   <b>Topics </b>- Gems, Plug-in, Debugging Rails Application, Action Mailer, Rails Command lines, Assets Pipeline.</div> </p>
														<h4>
												9. Related Topics
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning  Objectives </b>-  In this module, you will learn the extra topics related to web application development.</div>
								 <div style="text-align: justify;">
								  <b>
									<br /></b></div>
								<div style="text-align: justify;">
								  <b>Topics</b> -  JavaScript Recall, Working with JavaScript, Securing Rails Application, Active Support, Web services, Rails Internationalization.</div> </p>
														<h4>
												10. Deployment and Testing
											</h4>  
											<p><div style="text-align: justify;">
								  <b>Learning  Objectives</b> -  In this module, you will learn Deployment, Cloud Application Platform and Testing Tools.</div>
								 <div style="text-align: justify;">
								  <br /></div>
								<div style="text-align: justify;">
								  <b>Topics</b> -  Version Control, Git, Deployment, Heroku, Cloud Application Platform, Introduction to Testing, Testing Tools, Real Time Project.</div> </p>
					

								   </div>
								   
								   <div class = "tab-pane fade" id = "rFAQ">
									  <p></p>
								   </div>
								   
								   <div class = "tab-pane fade" id = "rCertification">
									  <h4>GKTCS Certification Process:</h4>
											<p>
												<div style="text-align: justify;">At the end of your course, you will
										  work on a real time Project. You will  receive a Problem Statement
										  along with a dataset to work. </div>
										<div style="text-align: justify;">
										  <br /></div>
										<div style="text-align: justify;">Once you are successfully through with
										  the project (reviewed by an expert),  you will be awarded a
										  certificate with a performance based grading. </div>
										<div style="text-align: justify;">
										  <br /></div>
										<div style="text-align: justify;">If your project is not approved in 1st
										  attempt, you can take additional  assistance to understand the
										  concepts better and reattempt the Project  free of cost.</div>    </p>

								   </div>
								   
								   <div class = "tab-pane fade" id = "rReviews">
									  <p></p>
								   </div>
								   
								</div>
									
								
							</div>
						</div>	
						</div>
					</div><hr/>
					</div>	
				</div>
			</div>
</div>			
{% endblock %}