{% extends "index.html" %}

{% block home %}

<font color="#366D9C" size=5px style="font-family: Georgia"><b>About GKTCS</b></FONT>
<br/>


<div align="justify" style="width: 920px; padding-left: 40px; font-size: 1.0em;">
<img src="http://gktcs.in/GLMS/public/static/images/logo(2).png" title="name" align="center" style="float:left; height: 100px; padding-right: 20px ">	
<li>We are in to Corporate training and development from past 5 years. We groom the candidate as per the client requirement .</li>
<li>Mostly we  get the requirements on new  technologies like Python, Django, Ruby on Rail, Hadoop, Android Lollipop, Cloud Computing etc.</li> 
<li>We placed the candidate as per their capability. If the Candidate is already trained we give the placement to them or we groom them in the latest demanding technologies.</li>
<br>
<div style="font-size: 0.9em;float:right; padding-left: 10px ; background: #DDDDDD">
								<br><font color="#366D9C" size=4px style="font-family: Georgia"><u><b>Company Products</b></u></font><br>

										<p>•	Agile and Scrum Project Management.</p>
										<br><p>•	Online Meeting Solutions.</p>
										<br><p>•	Online Job Portal</p>
										<br><p>•	Service Desk Management System</p>
										<br><p>•	Android Campus Walky Talky</p>
										<br><p>•	Android VAMS Dialer</p>



									<br><font color="#366D9C" size=4px style="font-family: Georgia"><u><b>Major Clients</b></u></font>
					 <ul>
							<br><p>1.	ORACLE, Noida</p>
							<br><p>2.	Verizon Chennai</p>
							<br><p>3.	Ariecent Technology, Gurgaon</p>
							<br><p>4.	Hewlett Packard, Bangalore</p>
							<br><p>5.	Wipro, Chennai, Pune, Bangalore, Hyderabad</p>
							<br><p>6.	Patni, Navi Mumbai</p>
							<br><p>7.	Hexaware Technologies, Mumbai, Pune</p>
							<br><p>8.	Shell Group Lagos, Africa</p>
							<br><p>9.	Rolta India Ltd, Mumbai</p>
							<br><p>10.	Tieto Pune, India</li></p>
							<br><p>11.	Accenture, Pune, Mumbai</p>
							<br><p>12.	ATOS Origin, Pune</p>
							
						</ul>
								
								
								</div>

</div>

<div align="justify" style="padding-left: 40px; width: 600px"><div>

										
										
										<font color="#366D9C" size=4px style="font-family: Georgia"><b>GKTCS Innovations Pvt. Ltd.</b></FONT><br><br>
									<p>	 Main objective is to provide innovative solutions to their client all over the world. We have following major innovative solutions:</p>
									<br><p>	Innovative Training : We provide customize client based training. We make sure that we are satisfying client needs and give them appropriate solutions to their problem.</p>
									<br><p>Consultancy: We provide expert consultant from GKTCS Innovations Pvt. Ltd. Who has 10-15 years experience in their area.</p>
									<br><p>	Software Innovations: GKTCS has more than 200 project trainees who are working on Python, Django, HTML5, Android, Dot Net, PHP, Zend Framework, MySQL , UNIX and developing project Like Campus Walky Talky, Android Media Browser, Agile and Scrum Project Management, Service Desk, SMART Job Portal etc.</p>
									<br><p>	Staffing Solutions: We help our client to get skilled professionals in IT industry. Also provide our project trainee an appropriate training to meet our client expectations, which reduces the gap between Academy and Industry need. We give 100 % placement assistance to all our project trainee.</p>

							</div><br>
									
									
					<div style="color: black;">
									<font color="#366D9C" size=4px style="font-family: Georgia"><b>GKTCS Vision:</b></FONT><br>
									
										<br><p>•	To inspire and empower people to reach their potential, live their dreams and experience personal happiness.</p>
										<p>•	To provide the next generation education system that matches demand-supply in scale and quality.</p>
										<p>•	To be the leading centre of innovation and learning in emerging areas of the knowledge society.</p>
									<br><font color="#366D9C" size=4px style="font-family: Georgia"><b>GKTCS Mission:</b></font><br><br>
										<p>•	To deliver distinctive education and to develop talent, it helps clients to achieve their corporate goals.</p>
										<p>•	Communicated to the highest standards of ethics and integrity to deliver values to our customers.</p>
										<p>•	Treat our clients with the highest levels of care and respect at all times.</p>
									
								</div>
								</div>
								

{% endblock %}
