{% extends "index.html" %}

{% block home %}
<table width="980px">
	<tr><td width="500px" valign="top"> 
<font color="#366D9C" size=5px style="font-family: Georgia"><b>Address</b></FONT><br><br/>

<h3>Head Office</h3><br/>
11,4th Floor,Sneh Deep, Near Warje Flyover Bridge,<br/>
Warje-Malwadi, Pune,Maharashtra,India-411058<br/>
<b>Contact Person</b>- Mr. Surendra Panpaliya<br/>
<b>Contact no.</b>-9975072320<br/>
<b>Email</b>-surendra@gktcs.com<br/>
<br/>
<h3>Branch Office</h3><br/>
227 W Wellington Dr,Palatine,IL 60067 USA<br/>
<b>Contact Person</b>- Mr. Satish Panpaliya<br/>
<b>Contact no.</b>- +1(847)809-6866<br/>
<b>Email</b>-srpanpaliya@gktcs.com<br/>
</td>
<td align="right">
	<img src="http://gktcs.in/GLMS/public/static/images/map.png" width="600PX" height="400"/>
</td>

</tr>
</table>
{% endblock %}
