{% extends "index.html" %}

{% block home %}

<html>
	<head>
		
		
	</head>
	<h2 align="center" > Courses </h2>
	
	<table width="1000" height="500"> <tr> <td width='300'>
		
    <div id="vtab">
        <ul>
            <li class="home selected"></li>
            <li class="login"></li>
            <li class="support"></li>
            <li class="support1"></li>
        </ul>
        <div>
           <table align="justify">
           	<tr align="justify">
           		<td>
           			<img src='http://gktcs.in/GLMS/public/static/images/html554.png' width='100' height="80" />
           		</td>
           		<td>
           			<b>HTML5</b> is a revision of the Hypertext Markup Language (HTML), the standard programming language for describing the contents and appearance of Web pages.
           		<a href="{% url 'html5' %}" >More....</a>
           		<br/>
           		
           	</tr>
           	<tr align="justify">
           		<td>
           			<img src='http://gktcs.in/GLMS/public/static/images/css3.png' width='100' height="80" />
           		</td>
           		<td>
           		<b>CSS3</b>(Cascading Style Sheets) is a style sheet language used for describing the look and formatting of a document written in a markup language. 
           		<a href="css3details.html" >More....</a>
           		</td>
           		</td>
           	</tr>	
           	
           		<tr align="justify">
           		<td>
           			<img src='http://gktcs.in/GLMS/public/static/images/javaScript.png' width='100' height="80" />
           		</td>
           		<td>
  <b>JavaScript</b>  is an interpreted language, so no special program is required to create usable code. Any plain text editor such as Notepad is quite satisfactory for being able to write JavaScript.        			
           		<a href="jsdetails.html" >More....</a>
           		</td>
           	</tr>
           	
           		<tr align="justify">
           		<td>
           			<img src='http://gktcs.in/GLMS/public/static/images/jQurery.gif' width='100' height="80" />
           		</td>
           		<td>
 <b>jQuery</b> is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.          			
           		<a href="jquerydetails.html" >More....</a>
           		</td>
           	</tr>
           	<tr align="justify">
           		<td>
           			<img src='http://gktcs.in/GLMS/public/static/images/angularjs.jpg' width='100' height="80" />
           		</td>
           		<td>
<b>AngularJS</b> is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly           			
           		<a href="angulardetails.html" >More....</a>
           		</td>
           	</tr>
           	<tr align="justify">
           		<td>
           			<img src='http://gktcs.in/GLMS/public/static/images/boot.jpg' width='100' height="80" />
           		</td>
           		<td>
 <b>Bootstrap</b> is a free and open-source collection of tools for creating websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions.          			
           		<a href="bootstrapdetails.html" >More....</a>
           		</td>
           	</tr>
           	
           	
           </table>
   
         <div>
            <h4>
                Welcome to GLMS</h4>
               Welcome to GKTCS Innovations Pvt Ltd. !! This LMS will help all learners to Learn Quickly and explore thier skills online.
            <br />
            <br />
            Sed bibendum velit et magna placerat bibendum. Donec vitae leo ante. Nulla semper
            dapibus felis et luctus. Donec congue, lectus eget ullamcorper sagittis, orci enim
            aliquam risus, eget adipiscing quam neque sed eros. Donec commodo nisi varius augue
            lacinia pharetra. Cras lacinia fermentum luctus. Nunc venenatis commodo lorem, vitae
            pulvinar neque dignissim sed. Proin blandit rhoncus risus, sit amet eleifend quam
            eleifend sed.
        </div>
        
        <div>
            <h4>
                Secure Login</h4>
            <form id="loginForm" action="">
            <fieldset>
                <legend>You need to sign in with your Email & Password to continue.</legend>
                <div>
                    <label for="email">
                        Email:</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div>
                    <label for="password">
                        Password:</label>
                    <input type="password" name="password" id="password" />
                </div>
                <div>
                    <input id="login" type="submit" value="Fake Login" />
                </div>
            </fieldset>
            </form>
        </div>
        <div>
            <h4>
                Online Support</h4>
            Maecenas in varius nulla. Morbi leo elit, volutpat ac faucibus in; aliquam eget
            massa. Nullam a neque ac turpis luctus venenatis et placerat risus. Quisque pretium
            scelerisque sapien, et accumsan nunc venenatis non. Donec ullamcorper, leo gravida
            hendrerit interdum, tellus nisi vestibulum justo; quis dignissim enim risus quis
            ipsum.<br />
            <br />
            Mauris fringilla, urna vitae posuere commodo, neque tellus tincidunt nisi, aliquam
            scelerisque purus nulla ac enim. Cras urna urna, vestibulum ut aliquam sed, laoreet
            et justo! Vestibulum eleifend porta mollis. Donec molestie, turpis sed commodo consequat,
            erat purus sollicitudin arcu, non vestibulum risus lacus ac ipsum. Curabitur vitae
            pellentesque purus.
        </div>
    </div>
    </td>
    
    <td valign="top">
  		
    <table valign="top">
    	<tr valign="top">
    		 <h3 align="center">Course Features</h3>  
    		<td align="left" valign="top" width="500" height="200">
    		
 
  <br/>
 <br/>
  Online Classes: 40 Hrs  <br/>
  Assignments: 50 Hrs <br/>
  Project: 30 Hrs  <br/>
 Lifetime Access <br/>
  24 x 7 Support <br/>
  Get Certified<br/>
     			
     		</td>
		
    	</tr>
    	
    	<tr valign="top">
    		<td height="300" valign="top" align="center">
    		
    		
    			<h3>Query </h3>
    		</td>
    		
    		
    	</tr>
    </table>
    
    </td>

{% endblock %}
